<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <span *ngIf="formData.id">Update Organization</span>
        <span *ngIf="!formData.id"> New Organization</span>
      </h3>
    </div>
  </div>
  <div class="card-body">
    <div class="example-form">
      <div class="constainer-fluid">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="font-size: large;">Organization ID</mat-label>
                <input
                  [(ngModel)]="formData.ordId"
                  formControlName="ordId"
                  matInput
                  placeholder="Organization ID"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'ordId')"
                  >Organization ID is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'ordId')"
                  >Organization ID should have at least 4 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'ordId')"
                  >Organization ID should have maximum 10 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'ordId')"
                  >Organization ID should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6"></div> -->
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="font-size: large;">Name</mat-label>
                <input
                  [(ngModel)]="formData.name"
                  formControlName="name"
                  matInput
                  placeholder="Name"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'name')"
                  >Name is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'name')"
                  >Name should have at least 4 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'name')"
                  >Name should have maximum 50 characters</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6 mt-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Country Name</mat-label>
                <mat-select formControlName="country" [(ngModel)]="formData.country">
                  <mat-option *ngFor="let item of country " [value]="item.cname">{{item.cname}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'country')"
                    >Country Name is required</mat-error
                  >
              </mat-form-field>
            </div>
            <div class="col-sm-6 mt-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currency" [(ngModel)]="formData.currency">
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'currency')"
                    >Currency is required</mat-error
                  >
              </mat-form-field>
            </div>

            <!-- <div class="col-sm-6"></div> -->
            <!-- <div class="col-sm-6">
              <mat-checkbox
                [(ngModel)]="formData.active"
                [ngModelOptions]="{ standalone: true }"
              >
                Active
              </mat-checkbox>
            </div> -->

            <div class="col-sm-12 mt-4">
              <div class="button-row d-flex align-items-center">
                <button
                  [disabled]="formGroup.invalid"
                  (click)="submit()"
                  mat-raised-button
                  color="primary"
                  disabled="{{ isLoading }}"
                >
                  Save
                </button>
                <div class="ml-2">
                  <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                </div>
                <button
                  (click)="cancel()"
                  mat-raised-button
                  color="secondary"
                  disabled="{{ isLoading }}"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
