<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <span *ngIf="formData.id">
          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Navigation/Angle-left.svg-->
            <svg routerLink="/aseets/asset" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24"/>
                <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-12.000003, -11.999999) "/>
            </g>
        </svg><!--end::Svg Icon--></span>
        View Asset</span>
        <span *ngIf="!formData.id">New Asset</span>
      </h3>
    </div>
  </div>

  <div class="card-body">

    <mat-tab-group class=" text-primary">
      <mat-tab>
        <ng-template mat-tab-label >
          <span class="nav-icon ">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Shopping/Credit-card.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"/>
                  <rect fill="#000000" opacity="0.3" x="2" y="5" width="20" height="14" rx="2"/>
                  <rect fill="#000000" x="2" y="8" width="20" height="3"/>
                  <rect fill="#000000" opacity="0.3" x="16" y="14" width="4" height="2" rx="1"/>
              </g>
          </svg><!--end::Svg Icon--></span>
          </span>  
          <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Asset</a>                             
        </ng-template>

    <div class="example-form">
      <div class="constainer-fluid">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Point</mat-label>
                <input
                  [(ngModel)]="formData.point"
                  formControlName="point"
                  matInput
                  placeholder="Point"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'point')"
                  >Point is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'point')"
                  >Point should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'point')"
                  >Point should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'point')"
                  >Point should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Position</mat-label>
                <input
                  [(ngModel)]="formData.position"
                  formControlName="position"
                  matInput
                  placeholder="Position"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'position')"
                  >Position is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'position')"
                  >Position should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'position')"
                  >Position should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'position')"
                  >Position should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <!-- <div class="col-sm-6 mt-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: medium;">Location Id</mat-label>
                <mat-select formControlName="locationId" [(ngModel)]="formData.locationId">
                  <mat-option *ngFor="let item of location " [value]="item.locationId">{{item.locationId}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'locationId')"
                    >Location Id is required</mat-error
                  >
              </mat-form-field>
            </div> -->

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Unit Name</mat-label>
                <input
                  [(ngModel)]="formData.name"
                  formControlName="name"
                  matInput
                  placeholder="Unit Name"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'name')"
                  >Unit Name is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'name')"
                  >Unit Name should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'name')"
                  >Unit Name should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'name')"
                  >Unit Name should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Target Value</mat-label>
                <input
                  [(ngModel)]="formData.objtyp"
                  formControlName="objtyp"
                  matInput
                  placeholder="Target Value"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'objtyp')"
                  >Target Value is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'objtyp')"
                  >Target Value should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'objtyp')"
                  >Target Value should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'objtyp')"
                  >Target Value should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Category</mat-label>
                <input
                  [(ngModel)]="formData.catergory"
                  formControlName="catergory"
                  matInput
                  placeholder="Category"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'catergory')"
                  >Category is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'catergory')"
                  >Category should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'catergory')"
                  >Category should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'catergory')"
                  >Category should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
           
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <mat-checkbox
                [(ngModel)]="formData.active"
                [ngModelOptions]="{ standalone: true }"
              >
                Active
              </mat-checkbox>
            </div>

            <div class="col-sm-12 mt-4">
              <div class="button-row d-flex align-items-center">
                <!-- <button
                  [disabled]="formGroup.invalid"
                  (click)="submit()"
                  mat-raised-button
                  color="primary"
                  disabled="{{ isLoading }}"
                >
                  Save
                </button> -->
                <div class="ml-2">
                  <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                </div>
                <!-- <button
                  (click)="cancel()"
                  mat-raised-button
                  color="secondary"
                  disabled="{{ isLoading }}"
                >
                  Cancel
                </button> -->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

</mat-tab>
    
<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Home/Home.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24"/>
            <path d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z" fill="#000000"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Address</a>                   
  </ng-template>

</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Communication/Clipboard-check.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24"/>
            <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"/>
            <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000"/>
            <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Inspection Points</a>
  </ng-template>

</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Communication/Add-user.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24"/>
            <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
            <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Partners</a>
  </ng-template>

</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Files/Selected-file.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24"/>
            <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
            <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Documents</a>
  </ng-template>

</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Text/Bullet-list.svg-->
        <svg style="margin-top: 5px !important;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24"/>
            <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#000000"/>
            <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#000000" opacity="0.3"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Classification</a>
  </ng-template>

</mat-tab>

</mat-tab-group>

</div>
