<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <span *ngIf="formData.id">Update Inspection Category</span>
        <span *ngIf="!formData.id">New Inspection Category</span>
      </h3>
    </div>
  </div>
  <div class="card-body">
    <div class="example-form">
      <div class="constainer-fluid">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Category Id</mat-label>
                <input
                  [(ngModel)]="formData.catergoryId"
                  formControlName="catergoryId"
                  matInput
                  placeholder="Catergory Id"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'catergoryId')"
                  >Catergory Id is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'catergoryId')"
                  >Catergory Id should have at least 4 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'catergoryId')"
                  >Catergory Id should have maximum 10 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'catergoryId')"
                  >Catergory Id should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Category </mat-label>
                <input
                  [(ngModel)]="formData.name"
                  formControlName="name"
                  matInput
                  placeholder="Name"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'name')"
                  >Name is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'name')"
                  >Name should have at least 4 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'name')"
                  >Name should have maximum 50 characters</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-6"></div>
            <!-- <div class="col-sm-6">
              <mat-checkbox
                [(ngModel)]="formData.active"
                [ngModelOptions]="{ standalone: true }"
              >
                Active
              </mat-checkbox>
            </div> -->

            <div class="col-sm-12 mt-4">
              <div class="button-row d-flex align-items-center">
                <button
                  [disabled]="formGroup.invalid"
                  (click)="submit()"
                  mat-raised-button
                  color="primary"
                  disabled="{{ isLoading }}"
                >
                  Save
                </button>
                <div class="ml-2">
                  <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                </div>
                <button
                  (click)="cancel()"
                  mat-raised-button
                  color="secondary"
                  disabled="{{ isLoading }}"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
