<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <span *ngIf="formData.id">Update Purchase</span>
        <span *ngIf="!formData.id">New Purchase Order</span>
      </h3>
    </div>
  </div>
  <div class="card-body">


    <mat-tab-group class=" text-primary">
      <mat-tab>

        <ng-template mat-tab-label >
          <span class="nav-icon ">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Files/Selected-file.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polygon points="0 0 24 0 24 24 0 24"/>
                  <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                  <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero"/>
              </g>
          </svg><!--end::Svg Icon--></span>
          </span>  
          <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Header</a>                             
        </ng-template>

        <div class="example-form">
          <div class="constainer-fluid">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
              <div class="form-group row">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label >PO Number</mat-label>
                    <input
                      [(ngModel)]="formData.pdnum"
                      formControlName="pdnum"
                      matInput
                      placeholder="PO Number"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'pdnum')"
                      >PO Number is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'pdnum')"
                      >PO Number should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'pdnum')"
                      >PO Number should have maximum 12 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'pdnum')"
                      >PO Number should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>PR Number</mat-label>
                    <input
                      [(ngModel)]="formData.prnum"
                      formControlName="prnum"
                      matInput
                      placeholder="PR Number"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'prnum')"
                      >PR Number is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'prnum')"
                      >PR Number should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'prnum')"
                      >PR Number should have maximum 12 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'prnum')"
                      >PR Number should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
    
                <!-- <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: medium;">Transaction Id</mat-label>
                    <input
                      [(ngModel)]="formData.trnid"
                      formControlName="trnid"
                      matInput
                      placeholder="Transaction Id"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'trnid')"
                      >Transaction Id is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'trnid')"
                      >Transaction Id should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'trnid')"
                      >Transaction Id should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'trnid')"
                      >Transaction Id should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div> -->

                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>PO Date</mat-label>
                      <!-- <input class="form-control" type="date" value="2011-08-19" id="example-date-input"> -->
    
                    <input
                      [(ngModel)]="formData.pdDate"
                      formControlName="pdDate"
                      matInput
                      placeholder="PO Date"
                      required
                      class="form-control" type="date" value="19-08-2011" id="example-date-input"
                    />
                    <mat-error *ngIf="controlHasError('required', 'pdDate')"
                      >PO Date is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'pdDate')"
                      >PO Date should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'pdDate')"
                      >PO Date should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'pdDate')"
                      >PO Date should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: medium;">Company Code</mat-label>
                    <input
                      [(ngModel)]="formData.orgid"
                      formControlName="orgid"
                      matInput
                      placeholder="Company Code"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'orgid')"
                      >Company Code is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'orgid')"
                      >Company Code should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'orgid')"
                      >Company Code should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'orgid')"
                      >Company Code should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <!-- <mat-form-field class="example-full-width" appearance="fill"> -->
                    <mat-label>PO Release</mat-label>
                    <mat-slide-toggle style="margin-left: 15px;"></mat-slide-toggle>

                    <!-- <input
                      [(ngModel)]="formData.rindicator"
                      formControlName="rindicator"
                      matInput
                      placeholder="PO Release"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'rindicator')"
                      >PO Release is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'rindicator')"
                      >PO Release should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'rindicator')"
                      >PO Release should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'rindicator')"
                      >PO Release should contain only characters, numbers and
                      "_"</mat-error
                    > -->
                  <!-- </mat-form-field> -->
                </div>
    
    
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="formData.pdstatus" formControlName="tstatus">
                      <mat-option>-- None --</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-success label-inline" value="New">New</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-primary label-inline" value="Release">Release</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-warning label-inline" value="Sent">Sent</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-success label-inline" value="Accept">Accept</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-danger label-inline" value="Reject">Reject</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-primary label-inline" value="Progress">Progress</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-success label-inline" value="Transit">Transit</mat-option>                   
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-warning label-inline" value="Security">Security</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-warning label-inline" value="Store">Store</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-warning label-inline" value="GRN">GRN</mat-option>
                      <mat-option class="
                      label label-lg
                      font-weight-bold
                      text-danger label-inline" value="Closed">Closed</mat-option>
                    </mat-select>
                    <mat-error *ngIf="controlHasError('required', 'tstatus')"
                    >PO Status is required</mat-error
                  >
                  <mat-error *ngIf="controlHasError('minlength', 'tstatus')"
                    >PO Status should have at least 1 characters</mat-error
                  >
                  <mat-error *ngIf="controlHasError('maxlength', 'tstatus')"
                    >PO Status should have maximum 20 characters</mat-error
                  >
                  <mat-error *ngIf="controlHasError('pattern', 'tstatus')"
                    >PO Status should contain only characters, numbers and
                    "_"</mat-error
                  >
                  </mat-form-field>
                </div>
               
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Vendor Number</mat-label>
                    <input
                      [(ngModel)]="formData.vendor"
                      formControlName="vendor"
                      matInput
                      placeholder="Vendor Number"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'vendor')"
                      >Vendor Number is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'vendor')"
                      >Vendor Number should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'vendor')"
                      >Vendor Number should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'vendor')"
                      >Vendor Number should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Vendor Name</mat-label>
                    <input
                      [(ngModel)]="formData.name"
                      formControlName="name"
                      matInput
                      placeholder="Vendor Name"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'name')"
                      >Vendor Name is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'name')"
                      >Vendor Name should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'name')"
                      >Vendor Name should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'name')"
                      >Vendor Name should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
                
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input
                      [(ngModel)]="formData.email"
                      formControlName="email"
                      matInput
                      placeholder="Email"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'email')"
                      >Email is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'email')"
                      >Email should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'email')"
                      >Email should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'email')"
                      >Email should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Mobile Number</mat-label>
                    <input
                      [(ngModel)]="formData.mobile"
                      formControlName="mobile"
                      matInput
                      placeholder="Mobile Number"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'mobile')"
                      >Mobile Number is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'mobile')"
                      >Mobile Number should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'mobile')"
                      >Mobile Number should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'mobile')"
                      >Mobile Number should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Country</mat-label>
                    <input
                      [(ngModel)]="formData.country"
                      formControlName="country"
                      matInput
                      placeholder="Country"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'country')"
                      >Country is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'country')"
                      >Country should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'country')"
                      >Country should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'country')"
                      >Country should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input
                      [(ngModel)]="formData.city"
                      formControlName="city"
                      matInput
                      placeholder="City"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'city')"
                      >City is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'city')"
                      >City should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'city')"
                      >City should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'city')"
                      >City should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
               
    
    
                <div class="col-sm-12 mt-4">
                  <div class="button-row d-flex align-items-center">
                    <!-- <button
                      [disabled]="formGroup.invalid"
                      (click)="submit()"
                      mat-raised-button
                      color="primary"
                      disabled="{{ isLoading }}"
                    > -->
                    <button
                    
                    (click)="submit()"
                    mat-raised-button
                    color="primary"
                    disabled="{{ isLoading }}"
                  >
                      Save
                    </button>
                    <div class="ml-2">
                      <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                    </div>
                    <button
                      (click)="cancel()"
                      mat-raised-button
                      color="secondary"
                      disabled="{{ isLoading }}"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    
    

      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="nav-icon">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Text/Bullet-list.svg-->
              <svg style="margin-top: 5px !important;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"/>
                  <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#000000"/>
                  <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#000000" opacity="0.3"/>
              </g>
          </svg><!--end::Svg Icon--></span>
          </span>
          <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Items</a>                   
        </ng-template>


        <div class="example-form">
          <div class="constainer-fluid">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
              <div class="form-group row">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Item Number</mat-label>
                    <input
                      [(ngModel)]="formData.item"
                      formControlName="item"
                      matInput
                      placeholder="Item Number"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'item')"
                      >Item Number is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'item')"
                      >Item Number should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'item')"
                      >Item Number should have maximum 12 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'item')"
                      >Item Number should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Material Number</mat-label>
                    <input
                      [(ngModel)]="formData.material"
                      formControlName="material"
                      matInput
                      placeholder="Material Number"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'material')"
                      >Material Number is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'material')"
                      >Material Number should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'material')"
                      >Material Number should have maximum 12 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'material')"
                      >Material Number should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Material Name</mat-label>
    
                    <input
                      [(ngModel)]="formData.matName"
                      formControlName="matName"
                      matInput
                      placeholder="Material Name"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'matName')"
                      >Material Nameis required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'matName')"
                      >Material Name should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'matName')"
                      >Material Name should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'matName')"
                      >Material Name should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Quantity</mat-label>
                    <input
                      [(ngModel)]="formData.quantity"
                      formControlName="quantity"
                      matInput
                      placeholder="Quantity"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'quantity')"
                      >Quantity is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'quantity')"
                      >Quantity should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'quantity')"
                      >Quantity should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'quantity')"
                      >Quantity should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
               
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Unit</mat-label>
                    <input
                      [(ngModel)]="formData.qunit"
                      formControlName="qunit"
                      matInput
                      placeholder="Unit"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'qunit')"
                      >Unit is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'qunit')"
                      >Unit should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'qunit')"
                      >Unit should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'qunit')"
                      >Unit should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Unit Price</mat-label>
                    <input
                      [(ngModel)]="formData.punit"
                      formControlName="punit"
                      matInput
                      placeholder="Unit Price"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'punit')"
                      >Unit Price is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'punit')"
                      >Unit Price should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'punit')"
                      >Unit Price should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'punit')"
                      >Unit Price should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
    
                
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Gross Price</mat-label>
                    <input
                      [(ngModel)]="formData.gvalue"
                      formControlName="gvalue"
                      matInput
                      placeholder="Gross Price"
                      required
                    />
                    <mat-error *ngIf="controlHasError('required', 'gvalue')"
                      >Gross Price is required</mat-error
                    >
                    <mat-error *ngIf="controlHasError('minlength', 'gvalue')"
                      >Gross Price should have at least 1 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('maxlength', 'gvalue')"
                      >Gross Price should have maximum 20 characters</mat-error
                    >
                    <mat-error *ngIf="controlHasError('pattern', 'gvalue')"
                      >Gross Price should contain only characters, numbers and
                      "_"</mat-error
                    >
                  </mat-form-field>
                </div>
                 
                <div class="col-sm-12 mt-4">
                  <div class="button-row d-flex align-items-center">
                    <button
                     
                      (click)="submit()"
                      mat-raised-button
                      color="primary"
                      disabled="{{ isLoading }}"
                    >
                      Save
                    </button>
                    <div class="ml-2">
                      <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                    </div>
                    <button
                      (click)="cancel()"
                      mat-raised-button
                      color="secondary"
                      disabled="{{ isLoading }}"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        </mat-tab>

    </mat-tab-group>

   </div>
  </div>