<!--begin::Quick Panel-->
<div
  id="kt_quick_panel"
  class="offcanvas pt-5 pb-10"
  [ngClass]="extrasQuickPanelOffcanvasDirectionCSSClass"
>
  <!--begin::Header-->
  <!-- <div
    class="offcanvas-header offcanvas-header-navs d-flex align-items-center justify-content-between mb-5"
  >
    <ul
      class="nav nav-bold nav-tabs nav-tabs-line nav-tabs-line-3x nav-tabs-primary flex-grow-1 px-10"
      role="tablist"
    >
      <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          data-toggle="tab"
          [ngClass]="getActiveCSSClasses('kt_quick_panel_logs')"
          (click)="setActiveTabId('kt_quick_panel_logs')"
          >User Profiles</a 
        >
      </li> -->

      <!-- <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          data-toggle="tab"
          [ngClass]="getActiveCSSClasses('kt_quick_panel_notifications')"
          (click)="setActiveTabId('kt_quick_panel_notifications')"
          >Notifications</a
        >
      </li> -->
      <!-- <li class="nav-item">
        <a
          class="nav-link cursor-pointer"
          [ngClass]="getActiveCSSClasses('kt_quick_panel_settings')"
          (click)="setActiveTabId('kt_quick_panel_settings')"
          data-toggle="tab"
          >Settings</a
        >
      </li> -->
    <!-- </ul> -->
    <h3 class="font-weight-bold m-0" style="margin-left: 40px !important;">User Profile </h3>

    <div class="offcanvas-close mt-n1 pr-5" style="margin-left: 320px;margin-top: -25px !important;">
      <a
        href="#"
        class="btn btn-xs btn-icon btn-light btn-hover-primary"
        id="kt_quick_panel_close"
      >
        <i class="ki ki-close icon-xs text-muted"></i>
      </a>
    </div>
  <!-- </div> -->
  <!--end::Header-->

  <!--begin::Content-->
  <div class="offcanvas-content px-10">
    <div class="tab-content">
      <!--begin::Tabpane-->
      <div
        class="tab-pane fade pt-3 pr-5 mr-n5"
        id="kt_quick_panel_logs"
        [ngClass]="getActiveCSSClasses('kt_quick_panel_logs')"
        role="tabpanel"
      >
        <!--begin::Section-->
        <div class="mb-15">

          <!-- <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5" kt-hidden-height="40" > -->
            <!-- <h3 class="font-weight-bold m-0">User Profile </h3> -->
            <!-- <div class="offcanvas-close mt-n1 pr-5">
              <a
                href="#"
                class="btn btn-xs btn-icon btn-light btn-hover-primary"
                id="kt_quick_panel_close"
              >
                <i class="ki ki-close icon-xs text-muted"></i>
              </a>
            </div> -->
          <!-- </div> -->


          <div class="d-flex align-items-center mt-5">
            <div class="symbol symbol-100 mr-5">
              <div class="symbol-label"
              style="background-image: url('./assets/media/svg/avatars/profile.png')"></div>
              <!-- <i class="symbol-badge bg-success"></i> -->
            </div>
            <div class="d-flex flex-column">
              <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">Rajappa Y</a>
              <div class="text-muted mt-1">Administrator</div>
              <div class="navi mt-2">
                <a href="#" class="navi-item">
                  <span class="navi-link p-0 pb-2">
                    <span class="navi-icon mr-1">
                      <span class="svg-icon svg-icon-lg svg-icon-primary">
                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Mail-notification.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path d="M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z" fill="#000000"></path>
                            <circle fill="#000000" opacity="0.3" cx="19.5" cy="17.5" r="2.5"></circle>
                          </g>
                        </svg>
                        <!--end::Svg Icon-->
                      </span>
                    </span>
                    <span class="navi-text text-muted text-hover-primary">rajappa.y@enstrapp.net</span>
                  </span>
                </a>
                <a  
                class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5" (click)="open(mymodal)">Sign Out</a> 
                <ng-template #mymodal let-modal>
                  <div class="modal-body">
                    Do you want to sign-off?
                  </div>
                  <div class="modal-footer">
                    <a href="#" routerLinkActive="active" routerLink="/auth/login" class="btn btn-light-success font-weight-bold ml-2" (click)="modal.close('Save click')" >Yes</a>
                    <a class="btn btn-light-danger font-weight-bold ml-2" (click)="modal.close('Save click')" >No</a>
                    </div>
                </ng-template>  
              </div>
            </div>
          </div>

          <div class="separator separator-dashed mt-8 mb-5"></div>

          <div class="navi navi-spacer-x-0 p-0">
          
            <!--begin::Item-->
            <a href="/metronic/demo1/custom/apps/user/profile-3.html" class="navi-item">
              <div class="navi-link">
                <div class="symbol symbol-40 bg-light mr-3">
                  <div class="symbol-label">
                    <span class="svg-icon svg-icon-md svg-icon-warning">
                      <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Shopping/Chart-bar1.svg-->
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="13" rx="1.5"></rect>
                          <rect fill="#000000" opacity="0.3" x="7" y="9" width="3" height="8" rx="1.5"></rect>
                          <path d="M5,19 L20,19 C20.5522847,19 21,19.4477153 21,20 C21,20.5522847 20.5522847,21 20,21 L4,21 C3.44771525,21 3,20.5522847 3,20 L3,4 C3,3.44771525 3.44771525,3 4,3 C4.55228475,3 5,3.44771525 5,4 L5,19 Z" fill="#000000" fill-rule="nonzero"></path>
                          <rect fill="#000000" opacity="0.3" x="17" y="11" width="3" height="6" rx="1.5"></rect>
                        </g>
                      </svg>
                      <!--end::Svg Icon-->
                    </span>
                  </div>
                </div>
                <div class="navi-text">
                  <div class="font-weight-bold">My Orders</div>
                  <div class="text-muted">Inbox and tasks</div>
                </div>
              </div>
            </a>
            <!--end:Item-->
            <!--begin::Item-->
            <a href="/metronic/demo1/custom/apps/user/profile-2.html" class="navi-item">
              <div class="navi-link">
                <div class="symbol symbol-40 bg-light mr-3">
                  <div class="symbol-label">
                    <span class="svg-icon svg-icon-md svg-icon-danger">
                      <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Files/Selected-file.svg-->
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <polygon points="0 0 24 0 24 24 0 24"></polygon>
                          <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                          <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero"></path>
                        </g>
                      </svg>
                      <!--end::Svg Icon-->
                    </span>
                  </div>
                </div>
                <div class="navi-text">
                  <div class="font-weight-bold">My Notifications</div>
                  <div class="text-muted">Logs and notifications</div>
                </div>
              </div>
            </a>
            <!--end:Item-->
           
          </div>

          <div class="separator separator-dashed mt-8 mb-5"></div>






          <!-- <h5 class="font-weight-bold mb-5">System Messages</h5> -->
          <!--begin: Item-->
          <!-- <div class="d-flex align-items-center flex-wrap mb-5">
            <div class="symbol symbol-50 symbol-light mr-5">
              <span class="symbol-label">
                <span
                  [inlineSVG]="'./assets/media/svg/misc/006-plurk.svg'"
                  cacheSVG="true"
                  class="svg-icon h-50 align-self-center"
                ></span>
              </span>
            </div>
            <div class="d-flex flex-column flex-grow-1 mr-2">
              <a
                href="#"
                class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1"
                >Top Authors</a
              >
              <span class="text-muted font-weight-bold"
                >Most Successful Fellas</span
              >
            </div>
            <span
              class="btn btn-sm btn-light font-weight-bolder py-1 my-lg-0 my-2 text-dark-50"
              >+82$</span
            >
          </div> -->
          <!--end: Item-->

          <!--begin: Item-->
          <!-- <div class="d-flex align-items-center flex-wrap mb-5">
            <div class="symbol symbol-50 symbol-light mr-5">
              <span class="symbol-label">
                <span
                  [inlineSVG]="'./assets/media/svg/misc/015-telegram.svg'"
                  cacheSVG="true"
                  class="svg-icon h-50 align-self-center"
                ></span>
              </span>
            </div>
            <div class="d-flex flex-column flex-grow-1 mr-2">
              <a
                href="#"
                class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1"
                >Popular Authors</a
              >
              <span class="text-muted font-weight-bold"
                >Most Successful Fellas</span
              >
            </div>
            <span
              class="btn btn-sm btn-light font-weight-bolder my-lg-0 my-2 py-1 text-dark-50"
              >+280$</span
            >
          </div> -->
          <!--end: Item-->

          <!--begin: Item-->
          <!-- <div class="d-flex align-items-center flex-wrap mb-5">
            <div class="symbol symbol-50 symbol-light mr-5">
              <span class="symbol-label">
                <span
                  [inlineSVG]="'./assets/media/svg/misc/003-puzzle.svg'"
                  cacheSVG="true"
                  class="svg-icon h-50 align-self-center"
                ></span>
              </span>
            </div>
            <div class="d-flex flex-column flex-grow-1 mr-2">
              <a
                href="#"
                class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1"
                >New Users</a
              >
              <span class="text-muted font-weight-bold"
                >Most Successful Fellas</span
              >
            </div>
            <span
              class="btn btn-sm btn-light font-weight-bolder my-lg-0 my-2 py-1 text-dark-50"
              >+4500$</span
            >
          </div> -->
          <!--end: Item-->

          <!--begin: Item-->
          <!-- <div class="d-flex align-items-center flex-wrap mb-5">
            <div class="symbol symbol-50 symbol-light mr-5">
              <span class="symbol-label">
                <span
                  [inlineSVG]="'./assets/media/svg/misc/005-bebo.svg'"
                  cacheSVG="true"
                  class="svg-icon h-50 align-self-center"
                ></span>
              </span>
            </div>
            <div class="d-flex flex-column flex-grow-1 mr-2">
              <a
                href="#"
                class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1"
                >Active Customers</a
              >
              <span class="text-muted font-weight-bold"
                >Most Successful Fellas</span
              >
            </div>
            <span
              class="btn btn-sm btn-light font-weight-bolder my-lg-0 my-2 py-1 text-dark-50"
              >+4500$</span
            >
          </div> -->
          <!--end: Item-->

          <!--begin: Item-->
          <!-- <div class="d-flex align-items-center flex-wrap">
            <div class="symbol symbol-50 symbol-light mr-5">
              <span class="symbol-label">
                <span
                  [inlineSVG]="'./assets/media/svg/misc/014-kickstarter.svg'"
                  cacheSVG="true"
                  class="svg-icon h-50 align-self-center"
                ></span>
              </span>
            </div>
            <div class="d-flex flex-column flex-grow-1 mr-2">
              <a
                href="#"
                class="font-weight-bolder text-dark-75 text-hover-primary font-size-lg mb-1"
                >Bestseller Theme</a
              >
              <span class="text-muted font-weight-bold"
                >Most Successful Fellas</span
              >
            </div>
            <span
              class="btn btn-sm btn-light font-weight-bolder my-lg-0 my-2 py-1 text-dark-50"
              >+4500$</span
            >
          </div> -->
          <!--end: Item-->
        <!-- </div> -->
        <!--end::Section-->

        <!--begin::Section-->
        <div class="mb-5">
          <h5 class="font-weight-bold mb-5">Recent Notifications</h5>

          <!--begin: Item-->
          <div
            class="d-flex align-items-center bg-light-warning rounded p-5 mb-5"
          >
            <span class="svg-icon svg-icon-warning mr-5">
              <span
                [inlineSVG]="'./assets/media/svg/icons/Home/Library.svg'"
                cacheSVG="true"
                class="svg-icon svg-icon-lg"
              ></span>
            </span>

            <div class="d-flex flex-column flex-grow-1 mr-2">
              <a
                href="#"
                class="font-weight-normal text-dark-75 text-hover-primary font-size-lg mb-1"
                >Another purpose persuade</a
              >
              <span class="text-muted font-size-sm">Due in 2 Days</span>
            </div>

            <span class="font-weight-bolder text-warning py-1 font-size-lg"
              >+28%</span
            >
          </div>
          <!--end: Item-->

          <!--begin: Item-->
          <div
            class="d-flex align-items-center bg-light-success rounded p-5 mb-5"
          >
            <span class="svg-icon svg-icon-success mr-5">
              <span
                [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                cacheSVG="true"
                class="svg-icon svg-icon-lg"
              ></span>
            </span>
            <div class="d-flex flex-column flex-grow-1 mr-2">
              <a
                href="#"
                class="font-weight-normal text-dark-75 text-hover-primary font-size-lg mb-1"
                >Would be to people</a
              >
              <span class="text-muted font-size-sm">Due in 2 Days</span>
            </div>

            <span class="font-weight-bolder text-success py-1 font-size-lg"
              >+50%</span
            >
          </div>
          <!--end: Item-->

          <!--begin: Item-->
          <!-- <div
            class="d-flex align-items-center bg-light-danger rounded p-5 mb-5"
          >
            <span class="svg-icon svg-icon-danger mr-5">
              <span
                [inlineSVG]="
                  './assets/media/svg/icons/Communication/Group-chat.svg'
                "
                cacheSVG="true"
                class="svg-icon svg-icon-lg"
              ></span>
            </span>
            <div class="d-flex flex-column flex-grow-1 mr-2">
              <a
                href="#"
                class="font-weight-normel text-dark-75 text-hover-primary font-size-lg mb-1"
                >Purpose would be to persuade</a
              >
              <span class="text-muted font-size-sm">Due in 2 Days</span>
            </div>

            <span class="font-weight-bolder text-danger py-1 font-size-lg"
              >-27%</span
            >
          </div> -->
          <!--end: Item-->

          <!--begin: Item-->
          <!-- <div class="d-flex align-items-center bg-light-info rounded p-5">
            <span class="svg-icon svg-icon-info mr-5">
              <span
                [inlineSVG]="'./assets/media/svg/icons/General/Attachment2.svg'"
                cacheSVG="true"
                class="svg-icon svg-icon-lg"
              ></span>
            </span>

            <div class="d-flex flex-column flex-grow-1 mr-2">
              <a
                href="#"
                class="font-weight-normel text-dark-75 text-hover-primary font-size-lg mb-1"
                >The best product</a
              >
              <span class="text-muted font-size-sm">Due in 2 Days</span>
            </div>

            <span class="font-weight-bolder text-info py-1 font-size-lg"
              >+8%</span
            >
          </div> -->
          <!--end: Item-->
        </div>

        <!--end::Section-->
      </div>
      <!--end::Tabpane-->

      <!--begin::Tabpane-->
      <div
        class="tab-pane fade pt-2 pr-5 mr-n5"
        id="kt_quick_panel_notifications"
        [ngClass]="getActiveCSSClasses('kt_quick_panel_notifications')"
        role="tabpanel"
      >
        <!--begin::Nav-->
        <div class="navi navi-icon-circle navi-spacer-x-0">
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon-bell text-success icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  5 new user generated report
                </div>
                <div class="text-muted">
                  Reports based on sales
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon2-box text-danger icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  2 new items submited
                </div>
                <div class="text-muted">
                  by Grog John
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon-psd text-primary icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  79 PSD files generated
                </div>
                <div class="text-muted">
                  Reports based on sales
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon2-supermarket text-warning icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  $2900 worth producucts sold
                </div>
                <div class="text-muted">
                  Total 234 items
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon-paper-plane-1 text-success icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  4.5h-avarage response time
                </div>
                <div class="text-muted">
                  Fostest is Barry
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i
                    class="flaticon-safe-shield-protection text-danger icon-lg"
                  ></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  3 Defence alerts
                </div>
                <div class="text-muted">
                  40% less alerts thar last week
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon-notepad text-primary icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  Avarage 4 blog posts per author
                </div>
                <div class="text-muted">
                  Most posted 12 time
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon-users-1 text-warning icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  16 authors joined last week
                </div>
                <div class="text-muted">
                  9 photodrapehrs, 7 designer
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon2-box text-info icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  2 new items have been submited
                </div>
                <div class="text-muted">
                  by Grog John
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon2-download text-success icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  2.8 GB-total downloads size
                </div>
                <div class="text-muted">
                  Mostly PSD end AL concepts
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon2-supermarket text-danger icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  $2900 worth producucts sold
                </div>
                <div class="text-muted">
                  Total 234 items
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon-bell text-primary icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  7 new user generated report
                </div>
                <div class="text-muted">
                  Reports based on sales
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
          <!--begin::Item-->
          <a href="#" class="navi-item">
            <div class="navi-link rounded">
              <div class="symbol symbol-50 mr-3">
                <div class="symbol-label">
                  <i class="flaticon-paper-plane-1 text-success icon-lg"></i>
                </div>
              </div>
              <div class="navi-text">
                <div class="font-weight-bold font-size-lg">
                  4.5h-avarage response time
                </div>
                <div class="text-muted">
                  Fostest is Barry
                </div>
              </div>
            </div>
          </a>
          <!--end::Item-->
        </div>
        <!--end::Nav-->
      </div>
      <!--end::Tabpane-->

      <!--begin::Tabpane-->
      <div
        class="tab-pane fade pt-3 pr-5 mr-n5"
        id="kt_quick_panel_settings"
        [ngClass]="getActiveCSSClasses('kt_quick_panel_settings')"
        role="tabpanel"
      >
        <form class="form">
          <!--begin::Section-->
          <div>
            <h5 class="font-weight-bold mb-3">Customer Care</h5>
            <div class="form-group mb-0 row align-items-center">
              <label class="col-8 col-form-label">Enable Notifications:</label>
              <div class="col-4 d-flex justify-content-end">
                <span class="switch switch-success switch-sm">
                  <label>
                    <input type="checkbox" checked="checked" name="select" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group mb-0 row align-items-center">
              <label class="col-8 col-form-label">Enable Case Tracking:</label>
              <div class="col-4 d-flex justify-content-end">
                <span class="switch switch-success switch-sm">
                  <label>
                    <input type="checkbox" name="quick_panel_notifications_2" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group mb-0 row align-items-center">
              <label class="col-8 col-form-label">Support Portal:</label>
              <div class="col-4 d-flex justify-content-end">
                <span class="switch switch-success switch-sm">
                  <label>
                    <input type="checkbox" checked="checked" name="select" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
          </div>
          <!--end::Section-->

          <div class="separator separator-dashed my-6"></div>

          <!--begin::Section-->
          <div class="pt-2">
            <h5 class="font-weight-bold mb-3">Reports</h5>
            <div class="form-group mb-0 row align-items-center">
              <label class="col-8 col-form-label">Generate Reports:</label>
              <div class="col-4 d-flex justify-content-end">
                <span class="switch switch-sm switch-danger">
                  <label>
                    <input type="checkbox" checked="checked" name="select" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group mb-0 row align-items-center">
              <label class="col-8 col-form-label">Enable Report Export:</label>
              <div class="col-4 d-flex justify-content-end">
                <span class="switch switch-sm switch-danger">
                  <label>
                    <input type="checkbox" name="select" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group mb-0 row align-items-center">
              <label class="col-8 col-form-label">Allow Data Collection:</label>
              <div class="col-4 d-flex justify-content-end">
                <span class="switch switch-sm switch-danger">
                  <label>
                    <input type="checkbox" checked="checked" name="select" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
          </div>
          <!--end::Section-->

          <div class="separator separator-dashed my-6"></div>

          <!--begin::Section-->
          <div class="pt-2">
            <h5 class="font-weight-bold mb-3">Memebers</h5>
            <div class="form-group mb-0 row align-items-center">
              <label class="col-8 col-form-label">Enable Member singup:</label>
              <div class="col-4 d-flex justify-content-end">
                <span class="switch switch-sm switch-primary">
                  <label>
                    <input type="checkbox" checked="checked" name="select" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group mb-0 row align-items-center">
              <label class="col-8 col-form-label">Allow User Feedbacks:</label>
              <div class="col-4 d-flex justify-content-end">
                <span class="switch switch-sm switch-primary">
                  <label>
                    <input type="checkbox" name="select" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
            <div class="form-group mb-0 row align-items-center">
              <label class="col-8 col-form-label"
                >Enable Customer Portal:</label
              >
              <div class="col-4 d-flex justify-content-end">
                <span class="switch switch-sm switch-primary">
                  <label>
                    <input type="checkbox" checked="checked" name="select" />
                    <span></span>
                  </label>
                </span>
              </div>
            </div>
          </div>
          <!--end::Section-->
        </form>
      </div>
      <!--end::Tabpane-->
    </div>
  </div>
  <!--end::Content-->
</div>
<!--end::Quick Panel-->
