<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <span *ngIf="formData.id">Update Inspection Point</span>
        <span *ngIf="!formData.id">New Inspection Point</span>
      </h3>
    </div>
  </div>
  <div class="card-body">
    <div class="example-form">
      <div class="constainer-fluid">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Point</mat-label>
                <input
                  [(ngModel)]="formData.point"
                  formControlName="point"
                  matInput
                  placeholder="Point"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'point')"
                  >Point is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'point')"
                  >Point should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'point')"
                  >Point should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'point')"
                  >Point should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Position</mat-label>
                <input
                  [(ngModel)]="formData.position"
                  formControlName="position"
                  matInput
                  placeholder="Position"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'position')"
                  >Position is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'position')"
                  >Position should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'position')"
                  >Position should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'position')"
                  >Position should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <!-- <div class="col-sm-6 mt-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: medium;">Location Id</mat-label>
                <mat-select formControlName="locationId" [(ngModel)]="formData.locationId">
                  <mat-option *ngFor="let item of location " [value]="item.locationId">{{item.locationId}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'locationId')"
                    >Location Id is required</mat-error
                  >
              </mat-form-field>
            </div> -->

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Unit Name</mat-label>
                <input
                  [(ngModel)]="formData.name"
                  formControlName="name"
                  matInput
                  placeholder="Unit Name"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'name')"
                  >Unit Name is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'name')"
                  >Unit Name should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'name')"
                  >Unit Name should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'name')"
                  >Unit Name should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Target Value</mat-label>
                <input
                  [(ngModel)]="formData.objtyp"
                  formControlName="objtyp"
                  matInput
                  placeholder="Target Value"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'objtyp')"
                  >Target Value is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'objtyp')"
                  >Target Value should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'objtyp')"
                  >Target Value should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'objtyp')"
                  >Target Value should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Category</mat-label>
                <input
                  [(ngModel)]="formData.catergory"
                  formControlName="catergory"
                  matInput
                  placeholder="Category"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'catergory')"
                  >Category is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'catergory')"
                  >Category should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'catergory')"
                  >Category should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'catergory')"
                  >Category should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6 mt-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: medium;">Location Id</mat-label>
                <mat-select formControlName="locationId" [(ngModel)]="formData.locationId">
                  <mat-option *ngFor="let item of location " [value]="item.locationId">{{item.locationId}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'locationId')"
                    >Location Id is required</mat-error
                  >
              </mat-form-field>
            </div>

  
            <div class="col-sm-6 mt-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: medium;">Asset Id</mat-label>
                <mat-select formControlName="assetId" [(ngModel)]="formData.assetId">
                  <mat-option *ngFor="let item of asset " [value]="item.assetId">{{item.assetId}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'assetId')"
                    >Asset Id is required</mat-error
                  >
              </mat-form-field>
            </div>

            <!-- <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Status</mat-label>
                <input
                  [(ngModel)]="formData.status"
                  formControlName="status"
                  matInput
                  placeholder="Status"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'status')"
                  >Status is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'status')"
                  >Status should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'status')"
                  >Status should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'status')"
                  >Status should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div> -->
           
           
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <mat-checkbox
                [(ngModel)]="formData.active"
                [ngModelOptions]="{ standalone: true }"
              >
                Active
              </mat-checkbox>
            </div>

            <div class="col-sm-12 mt-4">
              <div class="button-row d-flex align-items-center">
                <button
                  [disabled]="formGroup.invalid"
                  (click)="submit()"
                  mat-raised-button
                  color="primary"
                  disabled="{{ isLoading }}"
                >
                  Save
                </button>
                <div class="ml-2">
                  <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                </div>
                <button
                  (click)="cancel()"
                  mat-raised-button
                  color="secondary"
                  disabled="{{ isLoading }}"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
