<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title flex-full-width">
      <h3 class="card-label">Users</h3>
      <div
        class="
          subheader-separator subheader-separator-ver
          mt-2
          mb-2
          mr-5
          bg-gray-200
        "
      ></div>
      <div class="d-flex align-items-center" id="kt_subheader_search">
        <form class="ml-5">
          <div
            class="input-group input-group-sm input-group-solid"
            style="max-width: 175px"
          >
            <input
              type="text"
              [(ngModel)]="searchText"
              [ngModelOptions]="{ standalone: true }"
              class="form-control"
              id="kt_subheader_search_form"
              placeholder="Search..."
            />
            <div class="input-group-append">
              <span class="input-group-text">
                <span class="svg-icon">
                  <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Search.svg-->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="24px"
                    height="24px"
                    viewBox="0 0 24 24"
                    version="1.1"
                  >
                    <g
                      stroke="none"
                      stroke-width="1"
                      fill="none"
                      fill-rule="evenodd"
                    >
                      <rect x="0" y="0" width="24" height="24"></rect>
                      <path
                        d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                        fill="#000000"
                        fill-rule="nonzero"
                        opacity="0.3"
                      ></path>
                      <path
                        d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                        fill="#000000"
                        fill-rule="nonzero"
                      ></path>
                    </g>
                  </svg>
                  <!--end::Svg Icon-->
                </span>
                <!--<i class="flaticon2-search-1 icon-sm"></i>-->
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <a
        routerLink="/user-management/add-user"
        class="btn btn-light-primary font-weight-bold ml-2"
        >Add User</a
      >
    </div>
  </div>
  <div class="card-body">
    <div class="demo-tab-content">
      <ng-container *ngIf="isLoading$ | async; else loaded">
        <mat-spinner diameter="50"></mat-spinner>
      </ng-container>
      <ng-template #loaded>
        <ng-container *ngIf="users$ | async as users; else nodata">
          <table
            *ngIf="users.length > 0; else nodata"
            class="
              table
              table-head-bg
              table-borderless
              table-vertical-top
            "
          >
            <thead>
              <tr>
                <th (click)="sort('login')">
                  <span class="text-dark-75">Login Id &nbsp; <i class="fa fa-sort"></i></span>
                </th>
                <th (click)="sort('firstName lastName')">
                  <span class="text-dark-75">Name &nbsp; <i class="fa fa-sort"></i></span>
                </th>
                <th (click)="sort('email')">
                  <span class="text-dark-75">Email &nbsp; <i class="fa fa-sort"></i></span>
                </th>
                <th (click)="sort('authority')">
                  <span class="text-dark-75">Role &nbsp; <i class="fa fa-sort"></i></span>
                </th>
                <th (click)="sort('activated')">
                  <span class="text-dark-75">Status &nbsp; <i class="fa fa-sort"></i></span>
                </th>
                <th>
                  <span class="text-dark-75">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users | search: searchText | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              } | orderBy: key: reverse">
                <td>
                  <a class="text text-primary font-weight-bold ml-2" > {{ item.login }}</a>                                   
                </td>
                <td>{{ item.firstName }} {{ item.lastName }}</td>
                <td>
                  {{ item.email }}
                </td>
                <td>
                  <div class="text-dark-75">
                    <span
                      class="label label-lg label-inline ml-2 mb-2"
                      *ngFor="let authority of item.authorities"
                      >{{ authority }}
                    </span>
                  </div>
                </td>
                <td>
                  <span *ngIf="item.activated" style="width: 155px"
                    ><span
                      class="
                        label label-lg
                        font-weight-bold
                        label-light-success label-inline
                      "
                      >Active</span
                    ></span
                  >
                  <span *ngIf="!item.activated" style="width: 155px"
                    ><span
                      class="
                        label label-lg
                        font-weight-bold
                        label-light-danger label-inline
                      "
                      >In-Active</span
                    ></span
                  >
                </td>

                <td>
                  <a
                    class="
                      btn btn-icon btn-light btn-sm
                      mx-3
                      cursor-pointer
                      btn-hover-primary
                    "
                    routerLink="/user-management/{{ item.login }}/edit-user"
                    ><span class="svg-icon svg-icon-md svg-icon-primary"
                      ><svg
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                        <title>Edit User</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g
                          id="Stockholm-icons-/-Communication-/-Write"
                          stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd"
                        >
                          <rect
                            id="bound"
                            x="0"
                            y="0"
                            width="24"
                            height="24"
                          ></rect>
                          <path
                            d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                            id="Path-11"
                            fill="#000000"
                            fill-rule="nonzero"
                            transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) "
                          ></path>
                          <path
                            d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                            id="Path-57"
                            fill="#000000"
                            fill-rule="nonzero"
                            opacity="0.3"
                          ></path>
                        </g></svg></span
                    ><!----></a
                  >
                  <!-- <a
                    class="
                      btn btn-icon btn-light btn-sm
                      mx-3
                      cursor-pointer
                      btn-hover-primary
                    "
                    routerLink="/user-management/{{ item.id }}/edit-role"
                    ><span class="svg-icon svg-icon-md svg-icon-primary"
                      ><svg
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      >
                        <title>View User</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g
                          id="Stockholm-icons-/-General-/-Visible"
                          stroke="none"
                          stroke-width="1"
                          fill="none"
                          fill-rule="evenodd"
                        >
                          <rect
                          id="bound"
                          x="0"
                          y="0"
                          width="24"
                          height="24"
                          ></rect>
                          <path
                            d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                            id="Shape"
                            fill="#000000"
                            fill-rule="nonzero"
                            opacity="0.3"
                          ></path>
                          <path
                            d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                            id="Path"
                            fill="#000000"
                            opacity="0.3"
                          ></path>
                        </g></svg></span
                    ></a -->
                </td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-center">
            <!-- <div style="margin-left: 800px !important;"> -->
              <pagination-controls 
                responsive="true" 
                previousLabel="Prev" 
                nextLabel="Next" 
                (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div> 
            
        </ng-container>
        <ng-template #nodata>
          <div class="text-center">
            <span class="svg-icon svg-icon-10x">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                version="1.1"
              >
                <g
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <rect x="0" y="0" width="24" height="24" />
                  <path
                    d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                    fill="#000000"
                    opacity="0.3"
                  />
                  <path
                    d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z"
                    fill="#000000"
                    opacity="0.3"
                  />
                  <path
                    d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z"
                    fill="#000000"
                    opacity="0.3"
                  />
                </g>
              </svg>
            </span>
            <h4 *ngIf="!isError">You don't have any users</h4>
            <h4 *ngIf="isError">Something went wrong</h4>
            <!-- <p *ngIf="!isError">
              Role allow you to configure access for users and roles
            </p> -->
            <button
              *ngIf="isError"
              (click)="reTry()"
              mat-raised-button
              color="primary"
              style="width: 5%"
            >
              Retry
            </button>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
