<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <span *ngIf="formData.id">Update Country</span>
        <span *ngIf="!formData.id">New Country</span>
      </h3>
    </div>
  </div>
  <div class="card-body">
    <div class="example-form">
      <div class="constainer-fluid">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Country Id</mat-label>
                <input
                  [(ngModel)]="formData.countryId"
                  formControlName="countryId"
                  matInput
                  placeholder="Country Id"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'countryId')"
                  >Country Id is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'countryId')"
                  >Country Id should have at least 2 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'countryId')"
                  >Country Id should have maximum 2 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'countryId')"
                  >Country Id should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6"></div> -->

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>State Id</mat-label>
                <mat-select formControlName="stateId" [(ngModel)]="formData.stateId">
                  <mat-option *ngFor="let topping of toppingList1" [value]="topping">{{topping}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'stateId')"
                    >State Id is required</mat-error
                  >
              </mat-form-field>
            </div>

<!-- 
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>State Id</mat-label>
                <input
                  [(ngModel)]="formData.stateId"
                  formControlName="stateId"
                  matInput
                  placeholder="State Id"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'stateId')"
                  >State Id is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'stateId')"
                  >State Id should have at least 2 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'stateId')"
                  >State Id should have maximum 255 characters</mat-error
                >
              </mat-form-field>
            </div> -->
            <!-- <div class="col-sm-6"></div> -->
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Country Name</mat-label>
                <input
                  [(ngModel)]="formData.cname"
                  formControlName="cname"
                  matInput
                  placeholder="Country Name"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'cname')"
                  >Country Name is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'cname')"
                  >Country Name should have at least 4 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'cname')"
                  >Country Name should have maximum 50 characters</mat-error
                >
              </mat-form-field>
            </div>
            <!-- <div class="col-sm-6"></div> -->
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>State Name</mat-label>
                <mat-select formControlName="sname" [(ngModel)]="formData.sname">
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'sname')"
                    >State Name is required</mat-error
                  >
              </mat-form-field>
            </div>

            <!-- <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>State Name</mat-label>
                <input
                  [(ngModel)]="formData.sname"
                  formControlName="sname"
                  matInput
                  placeholder="State Name"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'sname')"
                  >State Name is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'sname')"
                  >State Name should have at least 4 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'sname')"
                  >State Name should have maximum 255 characters</mat-error
                >
              </mat-form-field>
            </div> -->
            <!-- <div class="col-sm-6"></div> -->
            <!-- <div class="col-sm-6">
              <mat-checkbox
                [(ngModel)]="formData.active"
                [ngModelOptions]="{ standalone: true }"
              >
                Active
              </mat-checkbox>
            </div> -->

            <div class="col-sm-12 mt-4">
              <div class="button-row d-flex align-items-center">
                <button
                  [disabled]="formGroup.invalid"
                  (click)="submit()"
                  mat-raised-button
                  color="primary"
                  disabled="{{ isLoading }}"
                >
                  Save
                </button>
                <div class="ml-2">
                  <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                </div>
                <button
                  (click)="cancel()"
                  mat-raised-button
                  color="secondary"
                  disabled="{{ isLoading }}"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
