<div class="row">
  <div class="col-lg-6 col-xxl-4">
    <app-mixed-widget1></app-mixed-widget1>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-lists-widget9></app-lists-widget9>
  </div>
  <div class="col-lg-6 col-xxl-4">
    <app-stats-widget11></app-stats-widget11>
    <!-- <app-stats-widget12></app-stats-widget12> -->
  </div>
  <div class="col-lg-6 col-xxl-4 order-1 order-xxl-1">
    <app-lists-widget1></app-lists-widget1>
  </div>
  <div class="col-xxl-8 order-2 order-xxl-1">
    <app-advance-tables-widget2></app-advance-tables-widget2>
  </div>
  <div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
    <app-lists-widget3></app-lists-widget3>
  </div>
  <div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
    <app-lists-widget4></app-lists-widget4>
  </div>
  <div class="col-lg-12 col-xxl-4 order-1 order-xxl-2">
    <app-lists-widget8></app-lists-widget8>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <app-mixed-widget14></app-mixed-widget14>
  </div>
  <div class="col-lg-8">
    <app-advance-tables-widget4></app-advance-tables-widget4>
  </div>
</div>
