<div class="card card-custom card-stretch gutter-b">
  <!-- Header -->
  <div class="card-header border-0 mt-4">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark"
        >Vendor Acknowledgement</span
      >
      <!-- <span class="text-muted mt-3 font-weight-bold font-size-sm"
        >Pending 10 tasks</span > -->
    </h3>
    <div class="form-group mb-7" style="margin-top: 40px;">
      <!--begin::Radio list-->
      <div class="radio-list">
        <label class="radio radio-single radio-success">
          <input type="radio" checked="checked">
          <span></span>
          <div class="font-size-lg text-dark-75 font-weight-bold">Full Compliance</div>
        </label>
        <!-- <label class="radio radio-lg mb-7">
          <input type="radio" name="price">
          <span></span>
          <div class="font-size-lg text-dark-75 font-weight-bold">Full Compliance</div>
        </label> -->
        <label class="radio radio-single radio-yellow">
          <input type="radio" checked="checked">
          <span></span>
          <div class="font-size-lg text-dark-75 font-weight-bold">Partial Compliance</div>
        </label>
        <!-- <label class="radio radio-lg mb-7">
          <input type="radio" name="price">
          <span></span>
          <div class="font-size-lg text-dark-75 font-weight-bold">Partial Compliance</div>
        </label> -->
        <label class="radio radio-single radio-danger">
          <input type="radio" checked="checked">
          <span></span>
          <div class="font-size-lg text-dark-75 font-weight-bold">Non Compliance</div>
        </label>
        <!-- <label class="radio radio-lg mb-7">
          <input type="radio" name="price">
          <span></span>
          <div class="font-size-lg text-dark-75 font-weight-bold">Non Compliance</div>
        </label> -->
       
      </div>
      <!--end::Radio list-->
    </div>

    
  </div>
</div>
