<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title flex-full-width">
        <h3 class="card-label">User Roles</h3>
      </div>
      <div class="d-flex align-items-center">
       
        <a routerLink="/user-management/add-role" class="btn btn-light-primary font-weight-bold ml-2">Add Role</a>
     
    </div>
      <!-- <a class="right" mat-raised-button color="primary" routerLink="./new">New Role</a> -->

    </div>
    <div class="card-body">
      <div class="demo-tab-content">
        <ng-container *ngIf="isLoading$ | async; else loaded">
          <!-- <mat-spinner diameter="50"></mat-spinner> -->
        </ng-container>
        <ng-template #loaded>
          <ng-container *ngIf="roles$ | async as roles; else nodata">
            <table
              *ngIf="roles.length > 0; else nodata"
              class="table table-head-bg table-borderless table-vertical-top"
            >
              <thead>
                <tr>
                  <th style="min-width: 350px" (click)="sort('role')">
                    <span class="text-dark-75">Role &nbsp; <i class="fa fa-sort"></i></span>
                  </th>
                  <th style="min-width: 350px" (click)="sort('description')">
                    <span class="text-dark-75">Description &nbsp; <i class="fa fa-sort"></i></span>
                  </th>
                  <th (click)="sort('active')">
                    <span class="text-dark-75">Status &nbsp; <i class="fa fa-sort"></i></span>
                  </th>
                  <th>
                    <span class="text-dark-75">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of roles | paginate : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                } | orderBy: key: reverse">
                  <td>
                    <a class="text text-primary font-weight-bold ml-2" > {{ item.role }} </a>                                                                                            
                  </td>
                  <td>
                    {{ item.description }}
                   
                  </td>
                  <td>
                    <span *ngIf="item.active" style="width: 155px;"><span class="label label-lg font-weight-bold  label-light-success label-inline">Active</span></span>
                    <span *ngIf="!item.active" style="width: 155px;"><span class="label label-lg font-weight-bold  label-light-danger label-inline">In-Active</span></span>
                  </td>
                
                  <td>
                    <a class="btn btn-icon btn-light btn-sm mx-3 cursor-pointer btn-hover-primary" routerLink="/user-management/{{ item.id }}/edit-role"><span class="svg-icon svg-icon-md svg-icon-primary"><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Edit Role</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Stockholm-icons-/-Communication-/-Write" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                        <path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" id="Path-11" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) "></path>
                        <path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" id="Path-57" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                    </g>
                </svg></span><!----></a><a class="btn btn-icon btn-light btn-sm cursor-pointer btn-hover-warning" (click)="delete(item.id)"><span class="svg-icon svg-icon-md svg-icon-warning"><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Delete Role</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Stockholm-icons-/-General-/-Trash" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                        <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" id="round" fill="#000000" fill-rule="nonzero"></path>
                        <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" id="Shape" fill="#000000" opacity="0.3"></path>
                    </g>
                </svg></span><!----></a></td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-center">
              <!-- <div style="margin-left: 800px !important;"> -->
                <pagination-controls 
                  responsive="true" 
                  previousLabel="Prev" 
                  nextLabel="Next" 
                  (pageChange)="onTableDataChange($event)">
                </pagination-controls>
              </div> 
              
          </ng-container>
          <ng-template #nodata>
            <div class="text-center">
              <span class="svg-icon svg-icon-10x">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  version="1.1"
                >
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                      d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                      fill="#000000"
                      opacity="0.3"
                    />
                    <path
                      d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z"
                      fill="#000000"
                      opacity="0.3"
                    />
                    <path
                      d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z"
                      fill="#000000"
                      opacity="0.3"
                    />
                  </g>
                </svg>
              </span>
              <h4 *ngIf="!isError">You don't have any roles</h4>
              <h4 *ngIf="isError">Something went wrong</h4>
              <p *ngIf="!isError">
                Role allow you to configure access for users and roles
              </p>
              <button
                *ngIf="isError"
                (click)="reTry()"
                mat-raised-button
                color="primary"
                style="width: 5%"
              >
                Retry
              </button>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
  