<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <span *ngIf="formData.id">Update Location</span>
        <span *ngIf="!formData.id">New Location</span>
      </h3>
    </div>
  </div>
  <div class="card-body">
    <div class="example-form">
      <div class="constainer-fluid">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Location Id</mat-label>
                <input
                  [(ngModel)]="formData.locationId"
                  formControlName="locationId"
                  matInput
                  placeholder="Location Id"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'locationId')"
                  >Location Id is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'locationId')"
                  >Location Id should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'locationId')"
                  >Location Id should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'locationId')"
                  >Location Id should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Location Name</mat-label>
                <input
                  [(ngModel)]="formData.pltxt"
                  formControlName="pltxt"
                  matInput
                  placeholder="Location Name"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'pltxt')"
                  >Location Name is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'pltxt')"
                  >Location Name should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'pltxt')"
                  >Location Name should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'pltxt')"
                  >Location Name should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Category</mat-label>
                <input
                  [(ngModel)]="formData.typtx"
                  formControlName="typtx"
                  matInput
                  placeholder="Category"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'typtx')"
                  > Category is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'typtx')"
                  > Category should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'typtx')"
                  > Category should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'typtx')"
                  > Category should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;"> Type</mat-label>
                <input
                  [(ngModel)]="formData.eartx"
                  formControlName="eartx"
                  matInput
                  placeholder=" Type"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'eartx')"
                  > Type is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'eartx')"
                  > Type should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'eartx')"
                  > Type should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'eartx')"
                  > Type should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Plant</mat-label>
                <input
                  [(ngModel)]="formData.swerk"
                  formControlName="swerk"
                  matInput
                  placeholder="Plant"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'swerk')"
                  >Plant is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'swerk')"
                  >Plant should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'swerk')"
                  >Plant should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'swerk')"
                  >Plant should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;" >Status</mat-label>
                <input
                  [(ngModel)]="formData.status"
                  formControlName="status"
                  matInput
                  placeholder="Status"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'status')"
                  >Status is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'status')"
                  >Status should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'status')"
                  >Status should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'status')"
                  >Status should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Points</mat-label>
                <input
                  [(ngModel)]="formData.startPoint"
                  formControlName="startPoint"
                  matInput
                  placeholder="Points"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'startPoint')"
                  >Points is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'startPoint')"
                  >Points should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'startPoint')"
                  >Points should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'startPoint')"
                  >Points should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Latitude</mat-label>
                <input
                  [(ngModel)]="formData.latitude"
                  formControlName="latitude"
                  matInput
                  placeholder="Latitude"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'latitude')"
                  >Latitude is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'latitude')"
                  >Latitude should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'latitude')"
                  >Latitude should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'latitude')"
                  >Latitude should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Longitude</mat-label>
                <input
                  [(ngModel)]="formData.longitude"
                  formControlName="longitude"
                  matInput
                  placeholder="Longitude"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'longitude')"
                  >Longitude is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'longitude')"
                  >Longitude should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'longitude')"
                  >Longitude should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'longitude')"
                  >Longitude should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Address1</mat-label>
                <input
                  [(ngModel)]="formData.addr1"
                  formControlName="addr1"
                  matInput
                  placeholder="Address1"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'addr1')"
                  >Address1 is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'addr1')"
                  >Address1 should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'addr1')"
                  >Address1 should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'addr1')"
                  >Address1 should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Address2</mat-label>
                <input
                  [(ngModel)]="formData.addr2"
                  formControlName="addr2"
                  matInput
                  placeholder="Address2"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'addr2')"
                  >Address2 is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'addr2')"
                  >Address2 should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'addr2')"
                  >Address2 should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'addr2')"
                  >Address2 should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Address3</mat-label>
                <input
                  [(ngModel)]="formData.addr3"
                  formControlName="addr3"
                  matInput
                  placeholder="Address3"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'addr3')"
                  >Address3 is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'addr3')"
                  >Address3 should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'addr3')"
                  >Address3 should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'addr3')"
                  >Address3 should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Landmark</mat-label>
                <input
                  [(ngModel)]="formData.landMark"
                  formControlName="landMark"
                  matInput
                  placeholder="Landmark"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'landMark')"
                  >Landmark is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'landMark')"
                  >Landmark should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'landMark')"
                  >Landmark should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'landMark')"
                  >Landmark should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Zipcode</mat-label>
                <input
                  [(ngModel)]="formData.zipcode"
                  formControlName="zipcode"
                  matInput
                  placeholder="Zipcode"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'zipcode')"
                  >Zipcode is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'zipcode')"
                  >Zipcode should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'zipcode')"
                  >Zipcode should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'zipcode')"
                  >Zipcode should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">City</mat-label>
                <input
                  [(ngModel)]="formData.city"
                  formControlName="city"
                  matInput
                  placeholder="City"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'city')"
                  >City is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'city')"
                  >City should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'city')"
                  >City should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'city')"
                  >City should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Region</mat-label>
                <input
                  [(ngModel)]="formData.regoin"
                  formControlName="regoin"
                  matInput
                  placeholder="Region"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'regoin')"
                  >Region is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'regoin')"
                  >Region should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'regoin')"
                  >Region should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'regoin')"
                  >Region should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label style="color: rgb(50, 107, 156);font: bold;font-size: large;">Country</mat-label>
                <input
                  [(ngModel)]="formData.country"
                  formControlName="country"
                  matInput
                  placeholder="Country"
                  required
                />
                <mat-error *ngIf="controlHasError('required', 'country')"
                  >Country is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'country')"
                  >Country should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'country')"
                  >Country should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'country')"
                  >Country should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

           
            <!-- <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <mat-checkbox
                [(ngModel)]="formData.active"
                [ngModelOptions]="{ standalone: true }"
              >
                Active
              </mat-checkbox>
            </div> -->

            <div class="col-sm-12 mt-4">
              <div class="button-row d-flex align-items-center">
                <button
                  [disabled]="formGroup.invalid"
                  (click)="submit()"
                  mat-raised-button
                  color="primary"
                  disabled="{{ isLoading }}"
                >
                  Save
                </button>
                <div class="ml-2">
                  <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                </div>
                <button
                  (click)="cancel()"
                  mat-raised-button
                  color="secondary"
                  disabled="{{ isLoading }}"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
