<div class="card card-custom card-stretch gutter-b" [ngClass]="cssClass">

  <h3 class="card-title align-items-start flex-column" style="margin-top: 30px;margin-left: 20px;">
    <span class="font-weight-bolder text-dark">PO Status</span>
  </h3>

  <div class="card-body" style="position: relative;margin-top: 100px;">
    <!--begin::Chart-->
    <div id="chart_12" class="d-flex justify-content-center" style="min-height: 243.7px;"><div id="apexchartsgdvdhphe" class="apexcharts-canvas apexchartsgdvdhphe apexcharts-theme-light" style="width: 380px; height: 243.7px;"><svg id="SvgjsSvg9996" width="380" height="243.70000000000002" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><foreignObject x="0" y="0" width="380" height="243.70000000000002"><div class="apexcharts-legend apexcharts-align-center position-right" xmlns="http://www.w3.org/1999/xhtml" style="position: absolute; left: auto; top: 24px; right: 5px;"><div class="apexcharts-legend-series" rel="1" seriesname="TeamxA" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(105, 147, 255) !important; color: rgb(105, 147, 255); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Team%20A" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">New</span></div>
      <div class="apexcharts-legend-series" rel="2" seriesname="TeamxB" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(27, 197, 189) !important; color: rgb(27, 197, 189); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
        <span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Team%20B" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Sent</span></div>
        <div class="apexcharts-legend-series" rel="3" seriesname="TeamxC" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(255, 168, 0) !important; color: rgb(255, 168, 0); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span>
          <span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Team%20C" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Accept/Reject</span></div>
          <div class="apexcharts-legend-series" rel="4" seriesname="TeamxD" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="4" data:collapsed="false" style="background: rgb(246, 78, 96) !important; color: rgb(246, 78, 96); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="4" i="3" data:default-text="Team%20D" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Closed</span></div><div class="apexcharts-legend-series" rel="5" seriesname="TeamxE" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="5" data:collapsed="false" style="background: rgb(137, 80, 252) !important; color: rgb(137, 80, 252); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="5" i="4" data:default-text="Team%20E" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Progress</span></div></div><style type="text/css">	

.apexcharts-legend {	
display: flex;	
overflow: auto;	
padding: 0 10px;	
}	
.apexcharts-legend.position-bottom, .apexcharts-legend.position-top {	
flex-wrap: wrap	
}	
.apexcharts-legend.position-right, .apexcharts-legend.position-left {	
flex-direction: column;	
bottom: 0;	
}	
.apexcharts-legend.position-bottom.apexcharts-align-left, .apexcharts-legend.position-top.apexcharts-align-left, .apexcharts-legend.position-right, .apexcharts-legend.position-left {	
justify-content: flex-start;	
}	
.apexcharts-legend.position-bottom.apexcharts-align-center, .apexcharts-legend.position-top.apexcharts-align-center {	
justify-content: center;  	
}	
.apexcharts-legend.position-bottom.apexcharts-align-right, .apexcharts-legend.position-top.apexcharts-align-right {	
justify-content: flex-end;	
}	
.apexcharts-legend-series {	
cursor: pointer;	
line-height: normal;	
}	
.apexcharts-legend.position-bottom .apexcharts-legend-series, .apexcharts-legend.position-top .apexcharts-legend-series{	
display: flex;	
align-items: center;	
}	
.apexcharts-legend-text {	
position: relative;	
font-size: 14px;	
}	
.apexcharts-legend-text *, .apexcharts-legend-marker * {	
pointer-events: none;	
}	
.apexcharts-legend-marker {	
position: relative;	
display: inline-block;	
cursor: pointer;	
margin-right: 3px;	
border-style: solid;
}	

.apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{	
display: inline-block;	
}	
.apexcharts-legend-series.apexcharts-no-click {	
cursor: auto;	
}	
.apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {	
display: none !important;	
}	
.apexcharts-inactive-legend {	
opacity: 0.45;	
}</style></foreignObject><g id="SvgjsG9998" class="apexcharts-inner apexcharts-graphical" transform="translate(22, 0)"><defs id="SvgjsDefs9997"><clipPath id="gridRectMaskgdvdhphe"><rect id="SvgjsRect10000" width="247" height="265" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="gridRectMarkerMaskgdvdhphe"><rect id="SvgjsRect10001" width="245" height="267" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><filter id="SvgjsFilter10009" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood10010" flood-color="#000000" flood-opacity="0.45" result="SvgjsFeFlood10010Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite10011" in="SvgjsFeFlood10010Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite10011Out"></feComposite><feOffset id="SvgjsFeOffset10012" dx="1" dy="1" result="SvgjsFeOffset10012Out" in="SvgjsFeComposite10011Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur10013" stdDeviation="1 " result="SvgjsFeGaussianBlur10013Out" in="SvgjsFeOffset10012Out"></feGaussianBlur><feMerge id="SvgjsFeMerge10014" result="SvgjsFeMerge10014Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode10015" in="SvgjsFeGaussianBlur10013Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode10016" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend10017" in="SourceGraphic" in2="SvgjsFeMerge10014Out" mode="normal" result="SvgjsFeBlend10017Out"></feBlend></filter><filter id="SvgjsFilter10022" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood10023" flood-color="#000000" flood-opacity="0.45" result="SvgjsFeFlood10023Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite10024" in="SvgjsFeFlood10023Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite10024Out"></feComposite><feOffset id="SvgjsFeOffset10025" dx="1" dy="1" result="SvgjsFeOffset10025Out" in="SvgjsFeComposite10024Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur10026" stdDeviation="1 " result="SvgjsFeGaussianBlur10026Out" in="SvgjsFeOffset10025Out"></feGaussianBlur><feMerge id="SvgjsFeMerge10027" result="SvgjsFeMerge10027Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode10028" in="SvgjsFeGaussianBlur10026Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode10029" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend10030" in="SourceGraphic" in2="SvgjsFeMerge10027Out" mode="normal" result="SvgjsFeBlend10030Out"></feBlend></filter><filter id="SvgjsFilter10035" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood10036" flood-color="#000000" flood-opacity="0.45" result="SvgjsFeFlood10036Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite10037" in="SvgjsFeFlood10036Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite10037Out"></feComposite><feOffset id="SvgjsFeOffset10038" dx="1" dy="1" result="SvgjsFeOffset10038Out" in="SvgjsFeComposite10037Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur10039" stdDeviation="1 " result="SvgjsFeGaussianBlur10039Out" in="SvgjsFeOffset10038Out"></feGaussianBlur><feMerge id="SvgjsFeMerge10040" result="SvgjsFeMerge10040Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode10041" in="SvgjsFeGaussianBlur10039Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode10042" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend10043" in="SourceGraphic" in2="SvgjsFeMerge10040Out" mode="normal" result="SvgjsFeBlend10043Out"></feBlend></filter><filter id="SvgjsFilter10055" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood10056" flood-color="#000000" flood-opacity="0.45" result="SvgjsFeFlood10056Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite10057" in="SvgjsFeFlood10056Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite10057Out"></feComposite><feOffset id="SvgjsFeOffset10058" dx="1" dy="1" result="SvgjsFeOffset10058Out" in="SvgjsFeComposite10057Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur10059" stdDeviation="1 " result="SvgjsFeGaussianBlur10059Out" in="SvgjsFeOffset10058Out"></feGaussianBlur><feMerge id="SvgjsFeMerge10060" result="SvgjsFeMerge10060Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode10061" in="SvgjsFeGaussianBlur10059Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode10062" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend10063" in="SourceGraphic" in2="SvgjsFeMerge10060Out" mode="normal" result="SvgjsFeBlend10063Out"></feBlend></filter><filter id="SvgjsFilter10068" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood10069" flood-color="#000000" flood-opacity="0.45" result="SvgjsFeFlood10069Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite10070" in="SvgjsFeFlood10069Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite10070Out"></feComposite><feOffset id="SvgjsFeOffset10071" dx="1" dy="1" result="SvgjsFeOffset10071Out" in="SvgjsFeComposite10070Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur10072" stdDeviation="1 " result="SvgjsFeGaussianBlur10072Out" in="SvgjsFeOffset10071Out"></feGaussianBlur><feMerge id="SvgjsFeMerge10073" result="SvgjsFeMerge10073Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode10074" in="SvgjsFeGaussianBlur10072Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode10075" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend10076" in="SourceGraphic" in2="SvgjsFeMerge10073Out" mode="normal" result="SvgjsFeBlend10076Out"></feBlend></filter><filter id="SvgjsFilter10272" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feComponentTransfer id="SvgjsFeComponentTransfer10273" result="SvgjsFeComponentTransfer10273Out" in="SourceGraphic"><feFuncR id="SvgjsFeFuncR10274" type="linear" slope="0.5"></feFuncR><feFuncG id="SvgjsFeFuncG10275" type="linear" slope="0.5"></feFuncG><feFuncB id="SvgjsFeFuncB10276" type="linear" slope="0.5"></feFuncB><feFuncA id="SvgjsFeFuncA10277" type="identity"></feFuncA></feComponentTransfer></filter></defs><g id="SvgjsG10002" class="apexcharts-pie"><g id="SvgjsG10003" transform="translate(0, 0) scale(1)"><g id="SvgjsG10004" class="apexcharts-slices"><g id="SvgjsG10005" class="apexcharts-series apexcharts-pie-series" seriesName="TeamxA" rel="1" data:realIndex="0"><path id="SvgjsPath10006" d="M 120.5 8.939024390243887 A 111.56097560975611 111.56097560975611 0 0 1 232.05658249367576 119.50995892392531 L 120.5 120.5 L 120.5 8.939024390243887" fill="rgba(105,147,255,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-0" index="0" j="0" data:angle="89.49152542372882" data:startAngle="0" data:strokeWidth="2" data:value="44" data:pathOrig="M 120.5 8.939024390243887 A 111.56097560975611 111.56097560975611 0 0 1 232.05658249367576 119.50995892392531 L 120.5 120.5 L 120.5 8.939024390243887" stroke="#ffffff" data:pieClicked="false" selected="false"></path></g><g id="SvgjsG10018" class="apexcharts-series apexcharts-pie-series" seriesName="TeamxB" rel="2" data:realIndex="1"><path id="SvgjsPath10019" d="M 232.05658249367576 119.50995892392531 A 111.56097560975611 111.56097560975611 0 0 1 79.87389094618513 224.4007725772438 L 120.5 120.5 L 232.05658249367576 119.50995892392531" fill="rgba(27,197,189,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-1" index="0" j="1" data:angle="111.86440677966102" data:startAngle="89.49152542372882" data:strokeWidth="2" data:value="55" data:pathOrig="M 232.05658249367576 119.50995892392531 A 111.56097560975611 111.56097560975611 0 0 1 79.87389094618513 224.4007725772438 L 120.5 120.5 L 232.05658249367576 119.50995892392531" stroke="#ffffff" data:pieClicked="false" selected="false"></path></g><g id="SvgjsG10031" class="apexcharts-series apexcharts-pie-series" seriesName="TeamxC" rel="3" data:realIndex="2"><path id="SvgjsPath10032" d="M 79.87389094618513 224.4007725772438 A 111.56097560975611 111.56097560975611 0 0 1 37.85955024472911 195.44269372825573 L 120.5 120.5 L 79.87389094618513 224.4007725772438" fill="rgba(255,168,0,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-2" index="0" j="2" data:angle="26.440677966101703" data:startAngle="201.35593220338984" data:strokeWidth="2" data:value="13" data:pathOrig="M 79.87389094618513 224.4007725772438 A 111.56097560975611 111.56097560975611 0 0 1 37.85955024472911 195.44269372825573 L 120.5 120.5 L 79.87389094618513 224.4007725772438" stroke="#ffffff" data:pieClicked="false" selected="false"></path></g><g id="SvgjsG10044" class="apexcharts-series apexcharts-pie-series" seriesName="TeamxD" rel="4" data:realIndex="3"><path id="SvgjsPath10045" d="M 35.98405272508219 199.31239585307605 A 115.56097560975611 115.56097560975611 0 0 1 37.372390877938315 40.22460099427488 L 120.5 120.5 L 35.98405272508219 199.31239585307605" fill="rgba(246,78,96,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-3" index="0" j="3" selected="false" data:angle="87.4576271186441" data:startAngle="227.79661016949154" data:strokeWidth="2" data:value="43" data:pathOrig="M 37.85955024472911 195.44269372825573 A 111.56097560975611 111.56097560975611 0 0 1 41.96529006019071 41.26521840964905 L 120.5 120.5 L 37.85955024472911 195.44269372825573" stroke="#ffffff" data:pieClicked="true"></path></g><g id="SvgjsG10064" class="apexcharts-series apexcharts-pie-series" seriesName="TeamxE" rel="5" data:realIndex="4"><path id="SvgjsPath10065" d="M 41.96529006019071 41.26521840964905 A 111.56097560975611 111.56097560975611 0 0 1 120.48052893668756 8.93902608941471 L 120.5 120.5 L 41.96529006019071 41.26521840964905" fill="rgba(137,80,252,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-pie-slice-4" index="0" j="4" data:angle="44.745762711864415" data:startAngle="315.25423728813564" data:strokeWidth="2" data:value="22" data:pathOrig="M 41.96529006019071 41.26521840964905 A 111.56097560975611 111.56097560975611 0 0 1 120.48052893668756 8.93902608941471 L 120.5 120.5 L 41.96529006019071 41.26521840964905" stroke="#ffffff" selected="true" filter="url(#SvgjsFilter10272)"></path></g><g id="SvgjsG10007" class="apexcharts-datalabels"><text id="SvgjsText10008" font-family="Helvetica, Arial, sans-serif" x="183.32776795184748" y="57.11217472771927" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" filter="url(#SvgjsFilter10009)" style="font-family: Helvetica, Arial, sans-serif;">24</text></g><g id="SvgjsG10020" class="apexcharts-datalabels"><text id="SvgjsText10021" font-family="Helvetica, Arial, sans-serif" x="171.14893262647576" y="193.98489941722113" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" filter="url(#SvgjsFilter10022)" style="font-family: Helvetica, Arial, sans-serif;">31</text></g><g id="SvgjsG10033" class="apexcharts-datalabels"><text id="SvgjsText10034" font-family="Helvetica, Arial, sans-serif" x="69.85106737352422" y="193.98489941722107" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" filter="url(#SvgjsFilter10035)" style="font-family: Helvetica, Arial, sans-serif;">7</text></g><g id="SvgjsG10053" class="apexcharts-datalabels"><text id="SvgjsText10054" font-family="Helvetica, Arial, sans-serif" x="31.282848287245415" y="118.12415092572905" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" filter="url(#SvgjsFilter10055)" style="font-family: Helvetica, Arial, sans-serif;">24</text></g><g id="SvgjsG10066" class="apexcharts-datalabels"><text id="SvgjsText10067" font-family="Helvetica, Arial, sans-serif" x="86.52899239619722" y="37.96930594655855" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="600" fill="#ffffff" class="apexcharts-text apexcharts-pie-label" filter="url(#SvgjsFilter10068)" style="font-family: Helvetica, Arial, sans-serif;">12</text></g></g></g></g><line id="SvgjsLine10077" x1="0" y1="0" x2="241" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine10078" x1="0" y1="0" x2="241" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG9999" class="apexcharts-annotations"></g>
</svg><div class="apexcharts-tooltip apexcharts-theme-dark" style="left: 79.3906px; top: -29px;"><div class="apexcharts-tooltip-series-group apexcharts-active" style="order: 1; display: flex; background-color: rgb(137, 80, 252);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(137, 80, 252); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Team E: </span><span class="apexcharts-tooltip-text-value">22</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2; display: none; background-color: rgb(137, 80, 252);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(137, 80, 252); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Team E: </span><span class="apexcharts-tooltip-text-value">22</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3; display: none; background-color: rgb(137, 80, 252);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(137, 80, 252); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Team E: </span><span class="apexcharts-tooltip-text-value">22</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 4; display: none; background-color: rgb(137, 80, 252);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(137, 80, 252); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Team E: </span><span class="apexcharts-tooltip-text-value">22</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 5; display: none; background-color: rgb(137, 80, 252);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(137, 80, 252); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Team E: </span><span class="apexcharts-tooltip-text-value">22</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
    <!--end::Chart-->
  <div class="resize-triggers"><div class="expand-trigger"><div style="width: 346px; height: 297px;"></div></div><div class="contract-trigger"></div></div></div>


  



</div>
