<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label">
          <span *ngIf="formData.id">Update User</span>
          <span *ngIf="!formData.id">New User</span>
        </h3>
      </div>
    </div>
    <div class="card-body">
      <div class="example-form">
        <div class="constainer-fluid">
          <form action="#" class="form form-label-right" [formGroup]="formGroup">
            <div class="form-group row">
              <div class="col-sm-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Login Id</mat-label>
                  <input
                    [(ngModel)]="formData.login"
                    formControlName="login"
                    matInput
                    placeholder="Name"
                    required
                  />
                  <mat-error *ngIf="controlHasError('required', 'login')"
                    >Login Id is required</mat-error
                  >
                  <mat-error *ngIf="controlHasError('minlength', 'login')"
                    >Login Id should have at least 4 characters</mat-error
                  >
                  <mat-error *ngIf="controlHasError('maxlength', 'login')"
                    >Login Id should have maximum 20 characters</mat-error
                  >
                  <mat-error *ngIf="controlHasError('pattern', 'login')"
                    >Login Id should contain only characters, numbers and
                    "_"</mat-error
                  >
                </mat-form-field>
              </div>
              
              <div class="col-sm-6">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input
                    [(ngModel)]="formData.firstName"
                    formControlName="firstName"
                    matInput
                    placeholder="Description"
                    required
                  />
                  <mat-error *ngIf="controlHasError('required', 'firstName')"
                    >First Name is required</mat-error
                  >
                  <mat-error *ngIf="controlHasError('minlength', 'firstName')"
                    >First Name should have at least 4 characters</mat-error
                  >
                  <mat-error *ngIf="controlHasError('maxlength', 'firstName')"
                    >First Name should have maximum 255 characters</mat-error
                  >
                </mat-form-field>
              </div>
                <div class="col-sm-6 mt-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input
                    [(ngModel)]="formData.lastName"
                    formControlName="lastName"
                    matInput
                    placeholder="Description"
                    required
                  />
                  <mat-error *ngIf="controlHasError('required', 'lastName')"
                    >Last Name is required</mat-error
                  >
                  <mat-error *ngIf="controlHasError('minlength', 'lastName')"
                    >Last Name should have at least 4 characters</mat-error
                  >
                  <mat-error *ngIf="controlHasError('maxlength', 'lastName')"
                    >Last Name should have maximum 255 characters</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-sm-6 mt-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input
                    [(ngModel)]="formData.email"
                    formControlName="email"
                    matInput
                    placeholder="Email"
                    required
                  />
                  <mat-error *ngIf="controlHasError('required', 'email')"
                    >Email is required</mat-error
                  >
                  <mat-error *ngIf="controlHasError('minlength', 'email')"
                    >Email should have at least 4 characters</mat-error
                  >
                  <mat-error *ngIf="controlHasError('maxlength', 'email')"
                    >Email should have maximum 255 characters</mat-error
                  >
                  <mat-error *ngIf="controlHasError('pattern', 'email')"
                  >Please provide a valid email address</mat-error
                >
                </mat-form-field>
              </div>

              <div class="col-sm-6 mt-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Person Id</mat-label>
                  <mat-select formControlName="personId" [(ngModel)]="formData.personId">
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="controlHasError('required', 'personId')"
                      >Person Id is required</mat-error
                    >
                </mat-form-field>
              </div>

              <!-- <div class="col-sm-6 mt-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Person Id</mat-label>
                  <input
                    [(ngModel)]="formData.personId"
                    formControlName="personId"
                    matInput
                    placeholder="Person Id"
                    required
                  />
                  <mat-error *ngIf="controlHasError('required', 'personId')"
                    >Person Id is required</mat-error
                  >
                  <mat-error *ngIf="controlHasError('minlength', 'personId')"
                    >Person Id should have at least 4 characters</mat-error
                  >
                  <mat-error *ngIf="controlHasError('maxlength', 'personId')"
                    >Person Id should have maximum 255 characters</mat-error
                  >
                </mat-form-field>
              </div> -->
              <div class="col-sm-6 mt-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Mobile</mat-label>
                  <input
                    type="number"
                    [(ngModel)]="formData.telmb"
                    formControlName="telmb"
                    matInput
                    placeholder="Mobile"
                    required
                  />
                  <mat-error *ngIf="controlHasError('required', 'telmb')"
                    >Mobile Number is required</mat-error
                  >
                  <mat-error *ngIf="controlHasError('minlength', 'telmb')"
                    >Mobile Number should have at least 10 digits</mat-error
                  >
                  <mat-error *ngIf="controlHasError('maxlength', 'telmb')"
                    >Mobile Number should have maximum 12 digits</mat-error
                  >
                </mat-form-field> 
              </div>
              <div class="col-sm-6 mt-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select formControlName="authorities" [(ngModel)]="formData.authorities" multiple>
                  <mat-option *ngFor="let item of roles  | activeRoles" [value]="item.role">{{item.role}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'authorities')"
                    >Role is required</mat-error
                  >
              </mat-form-field>
            </div>
            <div class="col-sm-6 mt-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>User Group</mat-label>
                <mat-select formControlName="usgrp" [(ngModel)]="formData.usgrp">
                  <mat-option *ngFor="let group of groups" [value]="group.usgrp">{{group.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="controlHasError('required', 'usgrp')"
                    >User Type is required</mat-error
                  >
              </mat-form-field>
            </div>
              
              <div class="col-sm-6 mt-4">
                <mat-checkbox
                  [(ngModel)]="formData.activated"
                  [ngModelOptions]="{ standalone: true }"
                >
                  Active
                </mat-checkbox>
              </div>
  
              <div class="col-sm-12 mt-8">
                <div class="button-row d-flex align-items-center">
                  <button
                    [disabled]="formGroup.invalid"
                    (click)="submit()"
                    mat-raised-button
                    color="primary"
                    disabled="{{ isLoading }}"
                  >
                    Save
                  </button>
                  <div class="ml-2">
                    <mat-spinner *ngIf="isLoading" diameter="25"></mat-spinner>
                  </div>
                  <button
                    (click)="cancel()"
                    mat-raised-button
                    color="secondary"
                    disabled="{{ isLoading }}"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  