.button {
	/* background-color: #fff; */
	border: #fff 1px;;
	/* color: rgb(50, 107, 156); */
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 25px;
  }
