<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title flex-full-width">
      <h3 class="card-label">Purchase Orders</h3>
      <div
      class="
        subheader-separator subheader-separator-ver
        mt-2
        mb-2
        mr-5
        bg-gray-200
      "
    ></div>
    <div class="d-flex align-items-center" id="kt_subheader_search">
      <form class="ml-5">
        <div
          class="input-group input-group-sm input-group-solid"
          style="max-width: 175px"
        >
          <input
            type="text"
            [(ngModel)]="searchText"
            [ngModelOptions]="{ standalone: true }"
            class="form-control"
            id="kt_subheader_search_form"
            placeholder="Search..."
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <span class="svg-icon">
                <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Search.svg-->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="24px"
                  height="24px"
                  viewBox="0 0 24 24"
                  version="1.1"
                >
                  <g
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <rect x="0" y="0" width="24" height="24"></rect>
                    <path
                      d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                      fill="#000000"
                      fill-rule="nonzero"
                      opacity="0.3"
                    ></path>
                    <path
                      d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                      fill="#000000"
                      fill-rule="nonzero"
                    ></path>
                  </g>
                </svg>
                <!--end::Svg Icon-->
              </span>
              <!--<i class="flaticon2-search-1 icon-sm"></i>-->
            </span>
          </div>
        </div>
      </form>
    </div>
    </div>
    <div class="d-flex align-items-center">

        <!-- <div class="card-toolbar"> -->
          <!-- <a href="#" class="btn btn-light-primary btn-sm font-weight-bolder font-size-sm py-3 px-6">Upload</a> -->
        <!-- </div> -->
       
        <!-- <input
        formControlName="file"
        id="file" 
        type="file" 
        (change)="onFileChange($event)"> -->
        <!-- <input type="file" (change)="onFileChange($event)" /> -->

        <a style="margin-right: 10px;" class="btn btn-light-primary font-weight-bold ml-2">Upload file</a>



<div id="output"></div>
  <!-- <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
      <div *ngIf="f.file.errors.required">File is required.</div> -->


        <!-- <div class="card-toolbar">
          <a class="btn btn-light-info btn-sm font-weight-bolder font-size-sm py-3 px-6">Upload</a>
        </div> -->
        <span mat-raised-button
        matTooltip="Download"
        matTooltipClass="example-tooltip-red"
        aria-label="Button that shows a red tooltip"
        class="example-button" class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Files/Export.svg-->
        <svg style="margin-right: 20px !important;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
          <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect x="0" y="0" width="24" height="24"/>
              <path d="M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 L18,6 C20.209139,6 22,7.790861 22,10 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,9.99305689 C2,7.7839179 3.790861,5.99305689 6,5.99305689 L7.00000482,5.99305689 C7.55228957,5.99305689 8.00000482,6.44077214 8.00000482,6.99305689 C8.00000482,7.54534164 7.55228957,7.99305689 7.00000482,7.99305689 L6,7.99305689 C4.8954305,7.99305689 4,8.88848739 4,9.99305689 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,10 C20,8.8954305 19.1045695,8 18,8 L17,8 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
              <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) scale(1, -1) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="2" width="2" height="12" rx="1"/>
              <path d="M12,2.58578644 L14.2928932,0.292893219 C14.6834175,-0.0976310729 15.3165825,-0.0976310729 15.7071068,0.292893219 C16.0976311,0.683417511 16.0976311,1.31658249 15.7071068,1.70710678 L12.7071068,4.70710678 C12.3165825,5.09763107 11.6834175,5.09763107 11.2928932,4.70710678 L8.29289322,1.70710678 C7.90236893,1.31658249 7.90236893,0.683417511 8.29289322,0.292893219 C8.68341751,-0.0976310729 9.31658249,-0.0976310729 9.70710678,0.292893219 L12,2.58578644 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 2.500000) scale(1, -1) translate(-12.000000, -2.500000) "/>
          </g>
      </svg><!--end::Svg Icon--></span>

      <a routerLink="/purchase/add-purchase" class="btn btn-light-primary font-weight-bold ml-2">Add Purchase Order</a>
   
  </div>
  </div>


    <!-- <div class="col-md-4 my-2 my-md-0" style="margin-top: 20px !important;margin-left: 200px;">
      <div class="d-flex align-items-center">
        <label class="mr-3 mb-0 d-none d-md-block">PO Status:</label>
        <input style="width: 100px;"
        type="text"
        [(ngModel)]="searchText"
        [ngModelOptions]="{ standalone: true }"
        class="form-control"
        id="kt_subheader_search_form"
      />
      </div>
    </div>
   
    <div class="col-md-4 my-2 my-md-0" style="margin-top: -35px !important;margin-left: 420px;">
      <div class="d-flex align-items-center">
        <label class="mr-3 mb-0 d-none d-md-block">PO Date:</label>
        <div class="dropdown "><select class="form-control" id="kt_datatable_search_status" tabindex="null">
          <option value="">04-06-2021</option>
          <option value="1">14-07-2021</option>
          <option value="2">02-06-2021</option>
          <option value="3">11-05-2021</option>
          <option value="4">04-08-2021</option>
        </select>
          <div class="dropdown-menu" style="max-height: 357.75px; overflow: hidden; min-height: 130px;">
            <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1" aria-activedescendant="bs-select-1-0" style="max-height: 345.75px; overflow-y: auto; min-height: 118px;"><ul class="dropdown-menu inner show" role="presentation" style="margin-top: 0px; margin-bottom: 0px;"><li class="selected active"><a role="option" class="dropdown-item active selected" id="bs-select-1-0" tabindex="0" aria-setsize="7" aria-posinset="1" aria-selected="true"><span class="text">All</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-1" tabindex="0" aria-setsize="7" aria-posinset="2"><span class="text">Pending</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-2" tabindex="0"><span class="text">Delivered</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-3" tabindex="0"><span class="text">Canceled</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-4" tabindex="0"><span class="text">Success</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-5" tabindex="0"><span class="text">Info</span></a></li><li><a role="option" class="dropdown-item" id="bs-select-1-6" tabindex="0"><span class="text">Danger</span></a></li></ul></div></div></div>
      </div>
    </div> -->

    <div class="card-body">
      <div class="demo-tab-content">
        <ng-container *ngIf="isLoading$ | async; else loaded">
          <!-- <mat-spinner diameter="50"></mat-spinner> -->
        </ng-container>
        <ng-template #loaded>
          <ng-container *ngIf="purchase$ | async as purchase; else nodata">
            <table
              *ngIf="purchase.length > 0; else nodata"
              class="table table-head-bg table-borderless table-vertical-top"
            >
              <thead>
                <tr>
                  <th style="min-width: 120px" (click)="sort('pdnum')">
                  <span class="text-dark-75">PO Number&nbsp; <i class="fa fa-sort"></i></span>
                  </th>
                  <!-- <th style="min-width: 130px">
                    <span class="text-dark-75">Transaction Id</span>
                  </th> -->

                  <th style="min-width: 130px" (click)="sort('tstatus')">
                    <span class="text-dark-75" [matMenuTriggerFor]="status" >Status&nbsp; <i class="fa fa-sort"></i>
                      <span  class="svg-icon svg-icon-transparent svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Text/Filter.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="20" height="15"/>
                            <path d="M5,4 L19,4 C19.2761424,4 19.5,4.22385763 19.5,4.5 C19.5,4.60818511 19.4649111,4.71345191 19.4,4.8 L14,12 L14,20.190983 C14,20.4671254 13.7761424,20.690983 13.5,20.690983 C13.4223775,20.690983 13.3458209,20.6729105 13.2763932,20.6381966 L10,19 L10,12 L4.6,4.8 C4.43431458,4.5790861 4.4790861,4.26568542 4.7,4.1 C4.78654809,4.03508894 4.89181489,4 5,4 Z" fill="#000000"/>
                        </g>
                    </svg><!--end::Svg Icon--></span>
                      <!-- <mat-icon >more_vert</mat-icon> -->
                    </span>
                      
                    <mat-menu #status="matMenu">
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >New</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >Release</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >Sent</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >Accept</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin">Reject</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin">Progress</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin">Transit</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin">Security</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin">Store</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin">GRN</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin">Closed</mat-checkbox>
                      </button>
                    </mat-menu>
                  </th>
                  <th style="min-width: 130px">
                    <span class="text-dark-75" [matMenuTriggerFor]="animals">PO Date&nbsp; <i class="fa fa-sort"></i>
                      <span  class="svg-icon svg-icon-transparent svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Text/Filter.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="20" height="15"/>
                            <path d="M5,4 L19,4 C19.2761424,4 19.5,4.22385763 19.5,4.5 C19.5,4.60818511 19.4649111,4.71345191 19.4,4.8 L14,12 L14,20.190983 C14,20.4671254 13.7761424,20.690983 13.5,20.690983 C13.4223775,20.690983 13.3458209,20.6729105 13.2763932,20.6381966 L10,19 L10,12 L4.6,4.8 C4.43431458,4.5790861 4.4790861,4.26568542 4.7,4.1 C4.78654809,4.03508894 4.89181489,4 5,4 Z" fill="#000000"/>
                        </g>
                    </svg><!--end::Svg Icon--></span>
                    </span>
                    <mat-menu #animals="matMenu">
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >30-06-2021</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >03-07-2021</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >14-06-2021</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >02-06-2021</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin">01-07-2021</mat-checkbox>
                      </button>
                    </mat-menu>
                  </th>
                  <!-- <th >
                    <span class="text-dark-75">Mat Name</span>
                  </th> -->
                  <!-- <th >
                    <span class="text-dark-75">Material</span>
                  </th>
                  <th>
                    <span class="text-dark-75">Plant</span>
                  </th>
                  <th style="min-width: 200px">
                    <span class="text-dark-75">Storage Location</span>
                  </th> -->
                  <th>
                    <span class="text-dark-75" (click)="sort('100')">Quantity&nbsp; <i class="fa fa-sort"></i></span>
                  </th>
                  <th style="min-width: 130px">
                    <span class="text-dark-75" (click)="sort('100')">Gross Value&nbsp; <i class="fa fa-sort"></i></span>
                  </th>
                  <th style="min-width: 130px" (click)="sort('vendor')">
                    <span class="text-dark-75" [matMenuTriggerFor]="vendor">Vendor #&nbsp; <i class="fa fa-sort"></i>
                      <span class="svg-icon svg-icon-transparent svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Text/Filter.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="20" height="15"/>
                            <path d="M5,4 L19,4 C19.2761424,4 19.5,4.22385763 19.5,4.5 C19.5,4.60818511 19.4649111,4.71345191 19.4,4.8 L14,12 L14,20.190983 C14,20.4671254 13.7761424,20.690983 13.5,20.690983 C13.4223775,20.690983 13.3458209,20.6729105 13.2763932,20.6381966 L10,19 L10,12 L4.6,4.8 C4.43431458,4.5790861 4.4790861,4.26568542 4.7,4.1 C4.78654809,4.03508894 4.89181489,4 5,4 Z" fill="#000000"/>
                        </g>
                    </svg><!--end::Svg Icon--></span>

                    </span>
                    <mat-menu #vendor="matMenu">
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >100978996398274</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >8436209768</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >1200000123</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin" >100092134800</mat-checkbox>
                      </button>
                      <button mat-menu-item>
                        <mat-checkbox class="example-margin">10002235741</mat-checkbox>
                      </button>
                    </mat-menu>
                  </th>
                  <th style="min-width: 130px" (click)="sort('name')">
                    <span class="text-dark-75">Vendor Name&nbsp; <i class="fa fa-sort"></i></span>
                  </th>
                  <!-- <th >
                    <span class="text-dark-75">Status</span>
                  </th> -->
                
                  <th style="min-width: 150px">
                    <span class="text-dark-75">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of purchase | search: searchText | paginate : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                } | orderBy: key: reverse">
                  <td>
                    <a routerLink="/purchase/{{ item.id }}/view-purchase">{{ item.pdnum }} </a>                                      
                  </td>
                  <!-- <td>
                    {{ item.trnid }}                    
                  </td>                 -->
                  <td>

                    <span *ngIf="item.tstatus ==='New'" style="width: 155px" >
                    <span
                      class="
                        label label-lg
                        font-weight-bold
                        label-light-success label-inline" >New</span >
                      </span>
                      <span *ngIf="item.tstatus ==='Release'" style="width: 155px" >
                        <span
                          class="
                            label label-lg
                            font-weight-bold
                            label-light-primary label-inline" >Release</span >
                          </span>
                          <span *ngIf="item.tstatus ==='Sent'" style="width: 155px" >
                            <span
                              class="
                                label label-lg
                                font-weight-bold
                                label-light-warning label-inline" >Sent</span >
                              </span>
                              <span *ngIf="item.tstatus ==='Accept'" style="width: 155px" >
                                <span
                                  class="
                                    label label-lg
                                    font-weight-bold
                                    label-light-success label-inline" >Accept</span >
                                  </span>
                      <span *ngIf="item.tstatus ==='Reject'" style="width: 155px" >
                        <span
                          class="
                            label label-lg
                            font-weight-bold
                            label-light-danger label-inline" >Reject</span >
                          </span>
                          <span *ngIf="item.tstatus ==='Progress'" style="width: 155px" >
                            <span
                              class="
                                label label-lg
                                font-weight-bold
                                label-light-primary label-inline" >Progress</span >
                              </span>
                          <span *ngIf="item.tstatus ==='Transit'" style="width: 155px" >
                            <span
                              class="
                                label label-lg
                                font-weight-bold
                                label-light-primary label-inline" >Transit</span >
                              </span>
                              <span *ngIf="item.tstatus ==='Security'" style="width: 155px" >
                                <span
                                  class="
                                    label label-lg
                                    font-weight-bold
                                    label-light-warning label-inline" >Security</span >
                                  </span>
                                  <span *ngIf="item.tstatus ==='Store'" style="width: 155px" >
                                    <span
                                      class="
                                        label label-lg
                                        font-weight-bold
                                        label-light-warning label-inline" >Store</span >
                                      </span>
                                      <span *ngIf="item.tstatus ==='GRN'" style="width: 155px" >
                                        <span
                                          class="
                                            label label-lg
                                            font-weight-bold
                                            label-light-warning label-inline" >GRN</span >
                                          </span>
                                          <span *ngIf="item.tstatus ==='Closed'" style="width: 155px" >
                                            <span
                                              class="
                                                label label-lg
                                                font-weight-bold
                                                label-light-danger label-inline" >Closed</span >
                                              </span>
                    <!-- <span
                      class="
                        label label-lg
                        font-weight-bold
                        label-light-success label-inline" >{{ item.pdstatus }}</span > -->
                    <!-- <button class="button" [ngClass]="{'btn-success':item.pdstatus === 'New' || item.pdstatus === 'new',
                    'btn-primary':item.pdstatus === 'Progress ' || item.pdstatus === 'progress ',
                    'btn-danger':item.pdstatus === 'Closed' || item.pdstatus === 'closed' || item.pdstatus === 'Rejected' || item.pdstatus === 'rejected'}">
                    {{ item.pdstatus }} </button> -->
                                       
                  </td>
                  <td>
                    30-06-2021
                    <!-- {{ item.pdDate }}                     -->
                   </td>
                  <!-- <td>
                    {{ item.matName }}                    
                  </td> -->
                  <!-- <td>
                    {{ item.material }}                    
                  </td>
                  <td>
                    {{ item.plant }}                    
                  </td>
                  <td>
                    {{ item.stroom }}                    
                   
                  </td> -->
                  <td>
                    100                                         
                   </td>
                   <td>
                    25000                  
                  </td> 
                   <td>
                    {{ item.vendor }}                                      
                  </td>
                  <td>
                    {{ item.name }}                                      
                  </td>
                  <!-- <td>
                    {{ item.grtid }}                  
                  </td> -->
               
                  <!-- <td>
                    <span *ngIf="item.active" style="width: 155px;"><span class="label label-lg font-weight-bold  label-light-success label-inline">Active</span></span>
                    <span *ngIf="!item.active" style="width: 155px;"><span class="label label-lg font-weight-bold  label-light-danger label-inline">In-Active</span></span>
                  </td> -->
                
                  <td>
                    <a class="btn btn-icon btn-light btn-sm mx-1 cursor-pointer btn-hover-primary" routerLink="/purchase/{{ item.id }}/view-purchase">
                      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/General/Visible.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <title>View Purchase</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"/>
                            <path d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                            <path d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z" fill="#000000" opacity="0.3"/>
                        </g>
                    </svg><!--end::Svg Icon--></span><!----></a>
                    
                    <a class="btn btn-icon btn-light btn-sm mx-1 cursor-pointer btn-hover-primary" routerLink="/purchase/{{ item.id }}/edit-purchase"><span class="svg-icon svg-icon-md svg-icon-primary"><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                    <title>Edit Purchase</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Stockholm-icons-/-Communication-/-Write" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                        <path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" id="Path-11" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) "></path>
                        <path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" id="Path-57" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                    </g>
                </svg></span><!----></a>

              <a class="btn btn-icon btn-light btn-sm cursor-pointer btn-hover-warning" (click)="delete(item.id)"><span class="svg-icon svg-icon-md svg-icon-warning"><svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
                  <title>Delete Purchase</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="Stockholm-icons-/-General-/-Trash" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                      <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" id="round" fill="#000000" fill-rule="nonzero"></path>
                      <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" id="Shape" fill="#000000" opacity="0.3"></path>
                  </g>
              </svg></span><!----></a></td>
              </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-center">
            <!-- <div style="margin-left: 800px !important;"> -->
              <pagination-controls 
                responsive="true" 
                previousLabel="Prev" 
                nextLabel="Next" 
                (pageChange)="onTableDataChange($event)">
              </pagination-controls>
            </div>

        </ng-container>
        <ng-template #nodata>
          <div class="text-center">
            <span class="svg-icon svg-icon-10x">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24px"
                height="24px"
                viewBox="0 0 24 24"
                version="1.1"
              >
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24" />
                  <path
                    d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                    fill="#000000"
                    opacity="0.3"
                  />
                  <path
                    d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z"
                    fill="#000000"
                    opacity="0.3"
                  />
                  <path
                    d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z"
                    fill="#000000"
                    opacity="0.3"
                  />
                </g>
              </svg>
            </span>
            <h4 *ngIf="!isError">You don't have any Purchase</h4>
            <h4 *ngIf="isError">Something went wrong</h4>
            <p *ngIf="!isError">
              Purchase allow you to configure access for users and roles
            </p>
            <button
              *ngIf="isError"
              (click)="reTry()"
              mat-raised-button
              color="primary"
              style="width: 5%"
            >
              Retry
            </button>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>

  <!-- <div class="d-flex justify-content-between align-items-center flex-wrap" style="margin-left: 800px;">
    <div class="d-flex flex-wrap py-2 mr-3">
      <a class="btn btn-icon btn-sm btn-light mr-2 my-1">
        <i class="ki ki-bold-double-arrow-back icon-xs"></i>
      </a>
      <a class="btn btn-icon btn-sm btn-light mr-2 my-1">
        <i class="ki ki-bold-arrow-back icon-xs"></i>
      </a>
      <a  class="btn btn-icon btn-sm border-0 btn-light btn-hover-primary active mr-2 my-1">1</a>
      <a  class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">2</a>
      <a  class="btn btn-icon btn-sm border-0 btn-light  mr-2 my-1">3</a>
      <a  class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">4</a>
      <a  class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">5</a>
      <a  class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">6</a>
      <a  class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">7</a>
      <a  class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">...</a>
      <a  class="btn btn-icon btn-sm btn-light mr-2 my-1">
        <i class="ki ki-bold-arrow-next icon-xs"></i>
      </a>
      <a  class="btn btn-icon btn-sm btn-light mr-2 my-1">
        <i class="ki ki-bold-double-arrow-next icon-xs"></i>
      </a>
    </div>
   
  </div> -->

  
</div>



<!-- <ag-grid-angular
  style="width: 1250px; height: 300px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs">
</ag-grid-angular> -->

