<ng-container *ngIf="isLoading">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container>
  
  <div class="modal-header">
    <div class="modal-title h4">Delete Inspection Code</div>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="isLoading">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>
  
    <ng-container *ngIf="!isLoading">
      <span>Do you want to delete Inspection Code?</span>
    </ng-container>
  </div>
  
  <div class="modal-footer">
    <div>
      <button type="button" mat-button color="primary" (click)="modal.dismiss()">
        CANCEL</button>&nbsp;
      <button type="button" mat-button color="primary" (click)="deleteInspectioncode()">
        DELETE
      </button>
    </div>
  </div>