<div class="card card-custom gutter-b" style="background-color: rgb(251, 253, 253);">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">
        <span *ngIf="formData.id">
          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Navigation/Angle-left.svg-->
            <svg routerLink="/locations/location" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24"/>
                <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-12.000003, -11.999999) "/>
            </g>
        </svg><!--end::Svg Icon--></span>
        View Location {{ formData.locationId }}</span>
        <span *ngIf="!formData.id">New Location</span>
      </h3>
    </div>
  </div>
  <div class="card-body"> 

    <mat-tab-group class=" text-primary">
      <mat-tab>
        <ng-template mat-tab-label >
          <span class="nav-icon ">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Map/Marker1.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"/>
                  <path d="M5,10.5 C5,6 8,3 12.5,3 C17,3 20,6.75 20,10.5 C20,12.8325623 17.8236613,16.03566 13.470984,20.1092932 C12.9154018,20.6292577 12.0585054,20.6508331 11.4774555,20.1594925 C7.15915182,16.5078313 5,13.2880005 5,10.5 Z M12.5,12 C13.8807119,12 15,10.8807119 15,9.5 C15,8.11928813 13.8807119,7 12.5,7 C11.1192881,7 10,8.11928813 10,9.5 C10,10.8807119 11.1192881,12 12.5,12 Z" fill="#000000" fill-rule="nonzero"/>
              </g>
          </svg><!--end::Svg Icon--></span>
          </span>  
          <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Location</a>                             
        </ng-template>



        <div class="card card-custom" style="border: 0.1px solid rgb(223, 218, 218);margin-top: 20px;">
											<!-- <div class="card-header" style="margin-top: -40px;">
											
											</div> -->
											<div class="card-body">

                        <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
                          <div class="col-md-10">             
                            <div class="d-flex justify-content-between pt-6">
                              <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2" style="color: #111;">Location Id : <span class="opacity-70" style="color: #111;">{{ formData.locationId }}</span></span>
                              </div>
                              <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2" style="color: #111;">Location Name : <span class="opacity-70" style="color: #111;">{{ formData.pltxt }}</span></span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
                          <div class="col-md-10">            
                            <div class="d-flex justify-content-between pt-6">
                              <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2" style="color: #111;">Category : <span class="opacity-70" style="color: #111;">{{ formData.typtx }}</span></span>
                              </div>
                              <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2" style="color: #111;">Type : <span class="opacity-70" style="color: #111;">{{ formData.eartx }}</span></span>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
                          <div class="col-md-10">            
                            <div class="d-flex justify-content-between pt-6">
                              <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2" style="color: #111;">Plant : <span class="opacity-70" style="color: #111;">{{ formData.swerk }}</span></span>
                              </div>
                              <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2" style="color: #111;">Status : 

                                  <span *ngIf="formData.status ==='created'" style="width: 155px" >
                                    <span
                                      class="
                                        text text-lg
                                        font-weight-bold
                                        text-success text-inline" >created</span >
                                      </span>
                                      <span *ngIf="formData.status ==='available'" style="width: 155px" >
                                        <span
                                          class="
                                          text text-lg
                                            font-weight-bold
                                            text-primary text-inline" >available</span >
                                          </span>
                                          <span *ngIf="formData.status ==='Sent'" style="width: 155px" >
                                            <span
                                              class="
                                              text text-lg
                                                font-weight-bold
                                                text-warning text-inline" >Sent</span >
                                              </span>
                                              <span *ngIf="formData.status ==='Created'" style="width: 155px" >
                                                <span
                                                  class="
                                                  text text-lg
                                                    font-weight-bold
                                                    text-success text-inline" >Created</span >
                                                  </span>
                                                  <span *ngIf="formData.status ==='Installed'" style="width: 155px" >
                                                    <span
                                                      class="
                                                      text text-lg
                                                        font-weight-bold
                                                        text-info text-inline" >Installed</span >
                                                      </span>

                                  <!-- <span class="opacity-70" style="color: #111;">{{ formData.status }}</span> -->
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
                          <div class="col-md-10">             
                            <div class="d-flex justify-content-between pt-6">
                              <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2" style="color: #111;">Points : <span class="opacity-70" style="color: #111;">{{ formData.startPoint }}</span></span>
                              </div>
                              <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2" style="color: #111;">Latitude : <span class="opacity-70" style="color: #111;">{{ formData.latitude }}</span></span>
                              </div>
                            </div>
                          </div>
                        </div> 
                        
                        <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
                          <div class="col-md-10">             
                            <div class="d-flex justify-content-between pt-6">
                              <div class="d-flex flex-column flex-root">
                                <span class="font-weight-bolder mb-2" style="color: #111;">Longitude : <span class="opacity-70" style="color: #111;">{{ formData.longitude }}</span></span>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
											<!-- <div class="card-footer d-flex justify-content-between">											
											</div> -->
										</div>



        <!-- <div class="card card-custom card-sticky" id="kt_page_sticky_card">       
          <div class="card-body">
            <form class="form" id="kt_form">
              <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                  <div class="my-5">

                    <div class="form-group row">
                      <label class="col-3" style="font-size: medium;">Location Id:</label>
                      <div class="col-9">
                        <span style="color: #111;">{{ formData.locationId }}</span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3" style="font-size: medium;">Location Name:</label>
                      <div class="col-9">
                        <span style="color: #111;">{{ formData.pltxt }}</span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3" style="font-size: medium;">Category :</label>
                      <div class="col-9">
                        <span style="color: #111;">{{ formData.typtx }}</span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3" style="font-size: medium;">Type:</label>
                      <div class="col-9">
                        <span style="color: #111;">{{ formData.eartx }}</span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3" style="font-size: medium;">Plant:</label>
                      <div class="col-9">
                        <span style="color: #111;">{{ formData.swerk }}</span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3" style="font-size: medium;">Status:</label>
                      <div class="col-9">
                        <span style="color: #111;">{{ formData.status }}</span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3" style="font-size: medium;">Points:</label>
                      <div class="col-9">
                        <span style="color: #111;">{{ formData.startPoint }}</span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3" style="font-size: medium;">Latitude:</label>
                      <div class="col-9">
                        <span style="color: #111;">{{ formData.latitude }}</span>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-3" style="font-size: medium;">Longitude:</label>
                      <div class="col-9">
                        <span style="color: #111;">{{ formData.longitude }}</span>
                      </div>
                    </div>
                                       
                    </div>                  
                  </div>
              </div>
            </form>
          </div>
        </div> -->


    <!-- <div class="example-form">
      <div class="constainer-fluid">
        <form action="#" class="form form-label-right" [formGroup]="formGroup">
          <div class="form-group row">
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label style="color: #111;font: bold;font-size: large;">Location Id</mat-label>
                <input style="color: #111;"
                  [(ngModel)]="formData.locationId"
                  formControlName="locationId"
                  matInput
                  placeholder="Location Id"
                  required readonly 
                />
                <mat-error *ngIf="controlHasError('required', 'locationId')"
                  >Location Id is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'locationId')"
                  >Location Id should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'locationId')"
                  >Location Id should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'locationId')"
                  >Location Id should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label style="color: #111;font: bold;font-size: large;">Location Name</mat-label>
                <input style="color: #111;"
                  [(ngModel)]="formData.pltxt"
                  formControlName="pltxt"
                  matInput
                  placeholder="Location Name"
                  required readonly
                />
                <mat-error *ngIf="controlHasError('required', 'pltxt')"
                  >Location Name is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'pltxt')"
                  >Location Name should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'pltxt')"
                  >Location Name should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'pltxt')"
                  >Location Name should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label style="color: #111;font: bold;font-size: large;">Category</mat-label>
                <input style="color: #111;"
                  [(ngModel)]="formData.typtx"
                  formControlName="typtx"
                  matInput
                  placeholder="Category"
                  required readonly
                />
                <mat-error *ngIf="controlHasError('required', 'typtx')"
                  > Category is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'typtx')"
                  > Category should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'typtx')"
                  > Category should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'typtx')"
                  > Category should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label style="color: #111;font: bold;font-size: large;"> Type</mat-label>
                <input style="color: #111;"
                  [(ngModel)]="formData.eartx"
                  formControlName="eartx"
                  matInput
                  placeholder=" Type"
                  required readonly
                />
                <mat-error *ngIf="controlHasError('required', 'eartx')"
                  > Type is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'eartx')"
                  > Type should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'eartx')"
                  > Type should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'eartx')"
                  > Type should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label style="color: #111;font: bold;font-size: large;">Plant</mat-label>
                <input style="color: #111;"
                  [(ngModel)]="formData.swerk"
                  formControlName="swerk"
                  matInput
                  placeholder="Plant"
                  required readonly
                />
                <mat-error *ngIf="controlHasError('required', 'swerk')"
                  >Plant is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'swerk')"
                  >Plant should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'swerk')"
                  >Plant should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'swerk')"
                  >Plant should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label style="color: #111;font: bold;font-size: large;">Status</mat-label>
                <input style="color: #111;"
                  [(ngModel)]="formData.status"
                  formControlName="status"
                  matInput
                  placeholder="Status"
                  required readonly
                />
                <mat-error *ngIf="controlHasError('required', 'status')"
                  >Status is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'status')"
                  >Status should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'status')"
                  >Status should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'status')"
                  >Status should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label style="color: #111;font: bold;font-size: large;">Points</mat-label>
                <input style="color: #111;"
                  [(ngModel)]="formData.startPoint"
                  formControlName="startPoint"
                  matInput
                  placeholder="Points"
                  required readonly
                />
                <mat-error *ngIf="controlHasError('required', 'startPoint')"
                  >Points is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'startPoint')"
                  >Points should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'startPoint')"
                  >Points should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'startPoint')"
                  >Points should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label style="color: #111;font: bold;font-size: large;">Latitude</mat-label>
                <input style="color: #111;"
                  [(ngModel)]="formData.latitude"
                  formControlName="latitude"
                  matInput
                  placeholder="Latitude"
                  required readonly
                />
                <mat-error *ngIf="controlHasError('required', 'latitude')"
                  >Latitude is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'latitude')"
                  >Latitude should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'latitude')"
                  >Latitude should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'latitude')"
                  >Latitude should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>

            <div class="col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label style="color: #111;font: bold;font-size: large;">Longitude</mat-label>
                <input style="color: #111;"
                  [(ngModel)]="formData.longitude"
                  formControlName="longitude"
                  matInput
                  placeholder="Longitude"
                  required readonly
                />
                <mat-error *ngIf="controlHasError('required', 'longitude')"
                  >Longitude is required</mat-error
                >
                <mat-error *ngIf="controlHasError('minlength', 'longitude')"
                  >Longitude should have at least 1 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('maxlength', 'longitude')"
                  >Longitude should have maximum 20 characters</mat-error
                >
                <mat-error *ngIf="controlHasError('pattern', 'longitude')"
                  >Longitude should contain only characters, numbers and
                  "_"</mat-error
                >
              </mat-form-field>
            </div>
        
          </div>
        </form>
      </div>
    </div> -->


  
</mat-tab>
    
<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Home/Home.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24"/>
            <path d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z" fill="#000000"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Address</a>                   
  </ng-template>




  <div class="card card-custom" style="border: 0.1px solid rgb(223, 218, 218);margin-top: 20px;">
    <!-- <div class="card-header" style="margin-top: -40px;">    
    </div> -->
    <div class="card-body">

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">             
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Address1 : <span class="opacity-70" style="color: #111;">{{ formData.addr1 }}</span></span>
            </div>
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Address2 : <span class="opacity-70" style="color: #111;">{{ formData.addr2 }}</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">            
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Address3 : <span class="opacity-70" style="color: #111;">{{ formData.addr3 }}</span></span>
            </div>
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Landmark : <span class="opacity-70" style="color: #111;">{{ formData.landMark }}</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">            
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Zipcode : <span class="opacity-70" style="color: #111;">{{ formData.zipcode }}</span></span>
            </div>
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">City : <span class="opacity-70" style="color: #111;">{{ formData.city }}</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">             
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Region : <span class="opacity-70" style="color: #111;">{{ formData.regoin }}</span></span>
            </div>
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Country : <span class="opacity-70" style="color: #111;">{{ formData.country }}</span></span>
            </div>
          </div>
        </div>
      </div> 
      
    </div>
    <!-- <div class="card-footer d-flex justify-content-between">     
    </div> -->
  </div>




  <!-- <form action="#" class="form form-label-right" [formGroup]="formGroup">
    <div class="form-group row">

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label style="color: #111;font: bold;font-size: large;">Address1</mat-label>
        <input
          [(ngModel)]="formData.addr1"
          formControlName="addr1"
          matInput
          placeholder="Address1"
          required readonly
        />
        <mat-error *ngIf="controlHasError('required', 'addr1')"
          >Address1 is required</mat-error
        >
        <mat-error *ngIf="controlHasError('minlength', 'addr1')"
          >Address1 should have at least 1 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('maxlength', 'addr1')"
          >Address1 should have maximum 20 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('pattern', 'addr1')"
          >Address1 should contain only characters, numbers and
          "_"</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label style="color: #111;font: bold;font-size: large;">Address2</mat-label>
        <input
          [(ngModel)]="formData.addr2"
          formControlName="addr2"
          matInput
          placeholder="Address2"
          required readonly
        />
        <mat-error *ngIf="controlHasError('required', 'addr2')"
          >Address2 is required</mat-error
        >
        <mat-error *ngIf="controlHasError('minlength', 'addr2')"
          >Address2 should have at least 1 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('maxlength', 'addr2')"
          >Address2 should have maximum 20 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('pattern', 'addr2')"
          >Address2 should contain only characters, numbers and
          "_"</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label style="color: #111;font: bold;font-size: large;">Address3</mat-label>
        <input
          [(ngModel)]="formData.addr3"
          formControlName="addr3"
          matInput
          placeholder="Address3"
          required readonly
        />
        <mat-error *ngIf="controlHasError('required', 'addr3')"
          >Address3 is required</mat-error
        >
        <mat-error *ngIf="controlHasError('minlength', 'addr3')"
          >Address3 should have at least 1 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('maxlength', 'addr3')"
          >Address3 should have maximum 20 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('pattern', 'addr3')"
          >Address3 should contain only characters, numbers and
          "_"</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label style="color: #111;font: bold;font-size: large;">Landmark</mat-label>
        <input
          [(ngModel)]="formData.landMark"
          formControlName="landMark"
          matInput
          placeholder="Landmark"
          required readonly
        />
        <mat-error *ngIf="controlHasError('required', 'landMark')"
          >Landmark is required</mat-error
        >
        <mat-error *ngIf="controlHasError('minlength', 'landMark')"
          >Landmark should have at least 1 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('maxlength', 'landMark')"
          >Landmark should have maximum 20 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('pattern', 'landMark')"
          >Landmark should contain only characters, numbers and
          "_"</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label style="color: #111;font: bold;font-size: large;">Zipcode</mat-label>
        <input
          [(ngModel)]="formData.zipcode"
          formControlName="zipcode"
          matInput
          placeholder="Zipcode"
          required readonly
        />
        <mat-error *ngIf="controlHasError('required', 'zipcode')"
          >Zipcode is required</mat-error
        >
        <mat-error *ngIf="controlHasError('minlength', 'zipcode')"
          >Zipcode should have at least 1 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('maxlength', 'zipcode')"
          >Zipcode should have maximum 20 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('pattern', 'zipcode')"
          >Zipcode should contain only characters, numbers and
          "_"</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label style="color: #111;font: bold;font-size: large;">City</mat-label>
        <input
          [(ngModel)]="formData.city"
          formControlName="city"
          matInput
          placeholder="City"
          required readonly
        />
        <mat-error *ngIf="controlHasError('required', 'city')"
          >City is required</mat-error
        >
        <mat-error *ngIf="controlHasError('minlength', 'city')"
          >City should have at least 1 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('maxlength', 'city')"
          >City should have maximum 20 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('pattern', 'city')"
          >City should contain only characters, numbers and
          "_"</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label style="color: #111;font: bold;font-size: large;">Region</mat-label>
        <input
          [(ngModel)]="formData.regoin"
          formControlName="regoin"
          matInput
          placeholder="Region"
          required readonly
        />
        <mat-error *ngIf="controlHasError('required', 'regoin')"
          >Region is required</mat-error
        >
        <mat-error *ngIf="controlHasError('minlength', 'regoin')"
          >Region should have at least 1 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('maxlength', 'regoin')"
          >Region should have maximum 20 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('pattern', 'regoin')"
          >Region should contain only characters, numbers and
          "_"</mat-error
        >
      </mat-form-field>
    </div>

    <div class="col-sm-6">
      <mat-form-field class="example-full-width">
        <mat-label style="color: #111;font: bold;font-size: large;">Country</mat-label>
        <input
          [(ngModel)]="formData.country"
          formControlName="country"
          matInput
          placeholder="Country"
          required readonly
        />
        <mat-error *ngIf="controlHasError('required', 'country')"
          >Country is required</mat-error
        >
        <mat-error *ngIf="controlHasError('minlength', 'country')"
          >Country should have at least 1 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('maxlength', 'country')"
          >Country should have maximum 20 characters</mat-error
        >
        <mat-error *ngIf="controlHasError('pattern', 'country')"
          >Country should contain only characters, numbers and
          "_"</mat-error
        >
      </mat-form-field>
    </div>

    </div>
    </form> -->

</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Communication/Clipboard-check.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24"/>
            <path d="M8,3 L8,3.5 C8,4.32842712 8.67157288,5 9.5,5 L14.5,5 C15.3284271,5 16,4.32842712 16,3.5 L16,3 L18,3 C19.1045695,3 20,3.8954305 20,5 L20,21 C20,22.1045695 19.1045695,23 18,23 L6,23 C4.8954305,23 4,22.1045695 4,21 L4,5 C4,3.8954305 4.8954305,3 6,3 L8,3 Z" fill="#000000" opacity="0.3"/>
            <path d="M10.875,15.75 C10.6354167,15.75 10.3958333,15.6541667 10.2041667,15.4625 L8.2875,13.5458333 C7.90416667,13.1625 7.90416667,12.5875 8.2875,12.2041667 C8.67083333,11.8208333 9.29375,11.8208333 9.62916667,12.2041667 L10.875,13.45 L14.0375,10.2875 C14.4208333,9.90416667 14.9958333,9.90416667 15.3791667,10.2875 C15.7625,10.6708333 15.7625,11.2458333 15.3791667,11.6291667 L11.5458333,15.4625 C11.3541667,15.6541667 11.1145833,15.75 10.875,15.75 Z" fill="#000000"/>
            <path d="M11,2 C11,1.44771525 11.4477153,1 12,1 C12.5522847,1 13,1.44771525 13,2 L14.5,2 C14.7761424,2 15,2.22385763 15,2.5 L15,3.5 C15,3.77614237 14.7761424,4 14.5,4 L9.5,4 C9.22385763,4 9,3.77614237 9,3.5 L9,2.5 C9,2.22385763 9.22385763,2 9.5,2 L11,2 Z" fill="#000000"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Inspection Points</a>
  </ng-template>

  <table style="margin-top: 20px;"
  *ngIf="inspectionPoint"
  class="table table-head-bg table-borderless table-vertical-top">
  <thead>
    <tr > 
      <th >
        <span class="text-dark-75">Point</span>
      </th>
      <th>
        <span class="text-dark-75">Position</span>
      </th>
      <th>
        <span class="text-dark-75">Unit Name</span>
      </th>
      <th>
        <span class="text-dark-75">Target Value</span>
      </th>
      <th>
        <span class="text-dark-75">Category</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of inspectionPoint">
      <td>
        {{ item.point }}                                             
      </td>
      <td>
        {{ item.position }}                  
      </td>
      <td>
        {{ item.name }}                  
      </td>
      <td>
        {{ item.objtyp }}
       
      </td>
      <td>
        {{ item.catergory }}                  
      </td>
    </tr>
  </tbody>
</table>


<div class="card card-custom">
</div>

  <!-- <div class="card card-custom" style="border: 0.1px solid rgb(223, 218, 218);margin-top: 20px;">
    <div class="card-body">

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">             
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Point : <span class="opacity-70" style="color: #111;">{{ formData.addr1 }}</span></span>
            </div>
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Position : <span class="opacity-70" style="color: #111;">{{ formData.addr2 }}</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">            
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Unit Name : <span class="opacity-70" style="color: #111;">{{ formData.addr3 }}</span></span>
            </div>
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Target Value : <span class="opacity-70" style="color: #111;">{{ formData.landMark }}</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">            
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Category : <span class="opacity-70" style="color: #111;">{{ formData.zipcode }}</span></span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div> -->


</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Communication/Add-user.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24"/>
            <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
            <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Partners</a>
  </ng-template>

  <table class="table table-head-bg table-borderless table-vertical-top" style="margin-top: 20px;">
    <thead>
      <tr>
        <th scope="col">Partner Function</th>
        <th scope="col">Partner Function Name</th>
        <th scope="col">Partner</th>
        <th scope="col">Partner Name</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
        <th scope="col">House NO 1</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Forwarding agent</td>
        <td>Nick</td>
        <td>Customer</td>
        <td>Jessie</td>
        <td>Bangalore</td>
        <td>Silk board</td>
        <td>12-21</td>
       
      </tr>
      <tr>
        <td>Sold-to Party</td>
        <td>Ana</td>
        <td>Vendor</td>
        <td>Shruthi</td>
        <td>Bangalore</td>
        <td>Hsr Layout</td>
        <td>13-41</td>
      </tr>
      <tr>
        <td>Sales Personnel</td>
        <td>Larry</td>
        <td>Human Resource</td>
        <td>John</td>
        <td>Bangalore</td>
        <td>KR Puram</td>
        <td>5-1223</td>
      </tr>
    </tbody>
  </table>



  <div class="card card-custom">
  </div>


  <!-- <div class="card card-custom" style="border: 0.1px solid rgb(223, 218, 218);margin-top: 20px;">
    <div class="card-body">

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">             
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Partner Function : <span class="opacity-70" style="color: #111;">{{ formData.addr1 }}</span></span>
            </div>
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Partner Function Name : <span class="opacity-70" style="color: #111;">{{ formData.addr2 }}</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">            
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Partner : <span class="opacity-70" style="color: #111;">{{ formData.addr3 }}</span></span>
            </div>
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Partner Name : <span class="opacity-70" style="color: #111;">{{ formData.landMark }}</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">            
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">City : <span class="opacity-70" style="color: #111;">{{ formData.zipcode }}</span></span>
            </div>
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">Street : <span class="opacity-70" style="color: #111;">{{ formData.zipcode }}</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center py-8 px-8 px-md-0" style="margin-top: -40px;">
        <div class="col-md-10">            
          <div class="d-flex justify-content-between pt-6">
            <div class="d-flex flex-column flex-root">
              <span class="font-weight-bolder mb-2" style="color: #111;">House NO 1 : <span class="opacity-70" style="color: #111;">{{ formData.zipcode }}</span></span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div> -->

</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Files/Selected-file.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24"/>
            <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
            <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Documents</a>
  </ng-template>

  <table style="margin-top: 20px;"
  class="table table-head-bg table-borderless table-vertical-top">
  <thead>
    <tr > 
      <th >
        <span class="text-dark-75">Name</span>
      </th>
      <th>
        <span class="text-dark-75">Document Name</span>
      </th>
      <th>
        <span class="text-dark-75">Document Size</span>
      </th>
      <th>
        <span class="text-dark-75">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of inspectionPoint">
      <td>
        Jessie                                            
      </td>
      <td>
        Email                  
      </td>
      <td>
        25Mb                 
      </td>
    
      <td>
        <a class="btn btn-icon btn-light btn-sm mx-1 cursor-pointer btn-hover-primary" routerLink="/inspection-points/{{ item.id }}/view-inspection-point">
          <span class="svg-icon svg-icon-primary svg-icon-2x">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <title>View Inspection Point</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"/>
                <path d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                <path d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z" fill="#000000" opacity="0.3"/>
            </g>
        </svg></span></a>

        <a class="btn btn-icon btn-light btn-sm mx-3 cursor-pointer btn-hover-primary">
          <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Files/DownloadedFile.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24"/>
                <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                <path d="M14.8875071,11.8306874 L12.9310336,11.8306874 L12.9310336,9.82301606 C12.9310336,9.54687369 12.707176,9.32301606 12.4310336,9.32301606 L11.4077349,9.32301606 C11.1315925,9.32301606 10.9077349,9.54687369 10.9077349,9.82301606 L10.9077349,11.8306874 L8.9512614,11.8306874 C8.67511903,11.8306874 8.4512614,12.054545 8.4512614,12.3306874 C8.4512614,12.448999 8.49321518,12.5634776 8.56966458,12.6537723 L11.5377874,16.1594334 C11.7162223,16.3701835 12.0317191,16.3963802 12.2424692,16.2179453 C12.2635563,16.2000915 12.2831273,16.1805206 12.3009811,16.1594334 L15.2691039,12.6537723 C15.4475388,12.4430222 15.4213421,12.1275254 15.210592,11.9490905 C15.1202973,11.8726411 15.0058187,11.8306874 14.8875071,11.8306874 Z" fill="#000000"/>
            </g>
        </svg><!--end::Svg Icon--></span></a>
   </td>
    </tr>
  </tbody>
</table>

<div class="card card-custom">
</div>

</mat-tab>

<mat-tab>
  <ng-template mat-tab-label>
    <span class="nav-icon">
      <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Text/Bullet-list.svg-->
        <svg style="margin-top: 5px !important;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="0" y="0" width="24" height="24"/>
            <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="#000000"/>
            <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="#000000" opacity="0.3"/>
        </g>
    </svg><!--end::Svg Icon--></span>
    </span>
    <a class="text-primary font-weight-bold font-size-h6 mt-2">&nbsp; Classification</a>
  </ng-template>

</mat-tab>

</mat-tab-group>


</div>
